<% @page_title = "Questions Grader" %>
<% cur_reg = current_user.registration_for(@course) %>
<% content_for :wide_content_before do %>
<style id="comment-styles"></style>

<p>
  <%= link_to "Back to submission",
      course_assignment_submission_path(@course, @assignment, @submission) %>
</p>

<h1>Response</h1>

<%= render 'submissions/sub_info' %>

<h1>Response Grading</h1>
<p>The treeview to the left shows the files in this submission.  Click
  on each one to show that file's content.</p>
<p>Student responses are shown inline with the questions.  The
  grading rubrics for each question follow.</p>

<% unless @answers_are_newer %>
<h3>These responses are for an outdated submission!</h3>
<% end %>

<% end %>

<% content_for :wide_content do %>
<%= form_for [@course, @assignment.becomes(Assignment), @submission, @grade] do |f| %>
<% if @assignment.related_assignment_id %>
<div class="col-sm-6">
  <div id="files-sidebar" data-spy="affix">
    <div id="files-treeview">
      <div id="files" class="nav treeview condensed"></div>
    </div>
    <div class="tab-content">
      <%= render "submissions/files", sub_files: @submission_files %>
    </div>
  </div>
  <script>
    <%= render partial: "submissions/render_comments.js", locals: {vertical: true} %>
  </script>
  </div>
<% end %>

<% if @assignment.related_assignment_id.nil? %>
<script>
  $(function() {
  $("textarea.sourceCode").each(function(index, code) {
    if ($(code).data("lang")) {
      var cm = CodeMirror.fromTextArea(code, {
        readOnly: true, indentUnit: 2,
        mode: $(code).data("lang"),
        theme: 'mdn-like', viewportMargin: Infinity,
        lineNumbers: true, lineWrapping: false,
        styleActiveLine: true
      });
    }
    $(code).addClass("cm-s-mdn-like cm-s-default");
  });
  });
</script>
<div id="responses" class="form-group container">
<% else %>
<div id="responses" class="form-group col-sm-6">
<% end %>
<%= render "submissions/render_questions" %>
<%= f.submit "Submit grade", id: "completed", class: "btn btn-success" %>
<script>$("form").submit(ensureValidNumericInputOnSubmit);</script>
</div>
<% end %>
<% end %>
