<% @page_title = @grader.display_type %>
<% cur_reg = current_user.registration_for(@course) %>
<% content_for :wide_content_before do %>
<script>
  <%= render 'submissions/purify.js' %>
</script>
<style id="comment-styles"></style>
<% if @grade.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <h2><%= pluralize(@grade.errors.count, "error") %> prohibited
  this grading from being saved:</h2>

  <ul>
    <% @grade.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <%= link_to "Back to submission",
      course_assignment_submission_path(@course, @assignment, @submission) %>
</p>

<h1>Response</h1>

<%= render 'submissions/sub_info' %>

<h1>Response Grading</h1>
<p>The treeview to the left shows the files in this submission.  Click
  on each one to show that file's content.</p>
<p>Student responses are shown inline with the questions.  The
  grading rubrics for each question follow.</p>

<% end %>

<% content_for :wide_content do %>
<%= form_for [@course, @assignment.becomes(Assignment), @submission.becomes(Submission), @grade] do |f| %>
<%= f.hidden_field :related_sub_ids, value: @submission_info.map{|si| si[2]} %>
<% @count = 0 %>
<% @submission_info.each_with_index do |(sub_dirs, sub_files, sub_id, sub_team, sub_user), index|
   @submission_dirs = sub_dirs
   @submission_files = sub_files %>
<% if @submission_info.length != 1 %>
<a id="nav_<%= index %>" style="width: 0px; height: 0px; float: left;"></a>
<nav class="review-navbar navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 class="text-center col-sm-12">
        <% if index != 0 %>
        <a href="#nav_<%= index - 1 %>" class="btn btn-med btn-default pull-left">&laquo; Previous review</a>
        <% else %>
        <a href="#" style="visibility: hidden;" class="btn btn-med btn-default pull-left">&laquo; Previous review</a>
        <% end %>
        <span>Review <%= index + 1 %> of <%= @submission_info.count %></span>
        <% if index != @submission_info.length - 1 %>
        <a href="#nav_<%= index + 1 %>" class="btn btn-med btn-default pull-right">Next review &raquo;</a>
        <% else %>
        <a href="#" style="visibility: hidden;" class="btn btn-med btn-default pull-right">Next review &raquo;</a>
        <% end %>
      </h3>
    </div>
  </div>
</nav>
<% end %><%# show navbar %>
<% unless @answers_are_newer[index] %>
<h3 class="container">These responses are for an outdated submission!</h3>
<% end %>
<div id="sub_<%= sub_id %>" class="container-fluid" style="padding: 0px;">
  <div class="col-sm-6 files-sidebar-container">
    <div class="files-sidebar">
      <div class="files-treeview">
        <div id="files-sub_<%= sub_id %>" class="files nav treeview condensed"></div>
      </div>
      <div class="tab-content">
        <%= render "submissions/files", sub_files: sub_files, root: "sub_#{sub_id}" %>
      </div>
    </div>
    <script>
      <%= render "submissions/render_comments.js", sub_dirs: sub_dirs, vertical: true, root: "sub_#{sub_id}" %>
    </script>
  </div>

  <div class="responses form-group col-sm-6">
    <span class="well well-sm well-info col-sm-12 text-center">This review is for the
    <%= link_to "submission from #{sub_team || sub_user}",
        course_assignment_submission_path(@course, @assignment.related_assignment, sub_id) %>
    </span>
    <%= render "submissions/render_questions", root: "sub_#{sub_id}", sub_id: sub_id %>
    <div class="spacer">&nbsp;</div>
  </div>
  <script>
    <%= render "submissions/render_questions.js", root: "sub_#{sub_id}" %>
  </script>
</div>
<% end %><%# @submissions_info.each %>
<div class="col-sm-6">&nbsp;</div>
<div class="col-sm-6 text-center">
<%= f.submit "Submit grade", id: "completed", class: "btn btn-success" %>
<script>
  $(".navbar-header a").click(function(e) { 
    window.scrollTo(0, $($(this).attr("href"))[0].offsetTop); 
    e.stopPropagation();
    e.preventDefault();
  });
  $("form").submit(ensureValidNumericInputOnSubmit);
</script>
</div>
<% end %><%# form-for %>
<% end %><%# content-for %>
