<% @page_title = @grader.display_type %>
<% cur_reg = current_user.registration_for(@course) %>
<% content_for :wide_content_before do %>
<%= javascript_pack_tag "dompurify" %>
<script>
  <%= render partial: 'submissions/purify', formats: [:js] %>
</script>
<%# Styles injected here by script to turn comment visibility on and off %>
<style id="comment-styles"></style>

<p>
  <%= link_to "Back to submission",
      course_assignment_submission_path(@course, @assignment, @submission) %>
</p>

<h1>Submission</h1>

<%= render 'submissions/sub_info' %>

<h1>Manual Grading</h1>
<p>The treeview to the left shows the files in this submission.  Click
  on each one to show that file's content.  You cannot submit grades
  without having at least viewed each file.</p>
<p>To create a comment, click on a line number in the file view.  You
  can specify what kind of comment it is, the points to be deducted,
  and leave a message for the student.</p>
<h3>
  <span class="pull-right">Total score:
    <span id="score">??</span>&nbsp;/&nbsp;<%= to_fixed(@grade.out_of)%>
  </span>
  <%= form_for [@course, @assignment.becomes(Assignment), @submission.becomes(Submission), @grade] do |f| %>
  <%= hidden_field_tag :finalScore %>
  <%= hidden_field_tag :comments %>
  <%= f.submit "Give comments on all files below", id: "completed", class: "btn btn-success disabled", disabled: true %>
  <% end %>
</h3>
<% end %>

<% content_for :wide_content do %>
<div id="all-files">
  <div class="col-sm-3 files-sidebar-container">
    <div class="files-sidebar">
      <div id="files-all-files" class="files nav treeview condensed"></div>
      <p>
        <label>Show other inline comments:
          <input id="toggle-comments" data-toggle="toggle" data-on="Shown" data-off="Hidden" type="checkbox">
        </label>
      </p>
    </div>
  </div>
  <div class="col-sm-9 tab-content">
    <%= render "submissions/files", sub_files: @submission_files, root: "all-files", editable: true %>
  </div>
</div>

<script>
  var lineComments = <%= raw json_escape(JSON.pretty_generate(@submission_files.map{|s| s[:lineComments]})) %>;
  <%= render partial: "submissions/comment_edit_widgets", formats: [:js] %>
  <%= render partial: "submissions/render_filepicker", formats: [:js] %>
  <%= render partial: "grades/enter_comments", formats: [:js] %>
  $(function() {
    var dirInfo = <%= raw json_escape(JSON.pretty_generate(@submission_dirs)) %>;
    activateFileView("all-files", "<%= @grade.id %>", dirInfo, true, false);
    activateFileViewEditing("all-files", function(e, reason) {
      $("#completed").removeClass("disabled").prop("disabled", false).val("Mark grading as complete");
    });
    activateCommentEditing(<%= @grader.extra_credit %>, <%= @grade.id %>, <%= @grade.out_of %>,
      "<%= current_user.name %>", <%= cur_reg&.professor? || false %>,
      "<%= course_assignment_submission_grade_path(@course, @assignment, @submission, @grade) %>",
      function(e, reason) {
        var $completed = $("#completed");
        if ($completed.val().startsWith("Give comments")) { return; }
        if (reason === "autosaving") {
          $completed.addClass("disabled").prop("disabled", true).val("Please wait until autosave completes");
        } else {
          $completed.removeClass("disabled").prop("disabled", false).val("Mark grading as complete");
        }
      }
    );
    $("form").submit(ensureValidNumericInputOnSubmit);
  });
</script>

<% end %>
