<% @page_title = "Dashboard" %>
<style>
  h4 i.glyphicon, h3 i.glyphicon { font-size: 80%; margin-left: 0.5em; }
  h4 i.glyphicon-chevron-up, h3 i.glyphicon-chevron-up { display: none; }
  h4 i.glyphicon-chevron-down, h3 i.glyphicon-chevron-down { display: initial; }
  h4.collapsed i.glyphicon-chevron-up, h3.collapsed i.glyphicon-chevron-up { display: initial; }
  h4.collapsed i.glyphicon-chevron-down, h3.collapsed i.glyphicon-chevron-down { display: none; }
  .team-heading { margin: 10px 15px; font-size: 16px; }
  .sectionList {
    display: block;
    font-size: 85%;
    line-height: normal;
    max-height: 6.5rem;
    overflow-y: auto;
    flex-grow: 1;
  }
  .courseHeader {
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
</style>

<h2>Your courses</h2>
<% regs = current_user.course_regs_by_term %>
<% regs.keys.sort_by{|t| t.canonical_name}.reverse.each_with_index do |term, i| %>
  <h3 <% if term.archived? %>class="collapsed" data-toggle="collapse" data-target="#term_<%= i %>"<% end %>>
    <%= term.name %>
    <% if term.archived? %>
    <i class="glyphicon glyphicon-chevron-down"></i>
    <i class="glyphicon glyphicon-chevron-up"></i>
    <% end %>
  </h3>
  <div id="term_<%= i %>" <% if term.archived? %>class="collapse"<% end %>>
  <% regs[term].each do |_, (term, course, sections, role, dropped)| %>
    <% if dropped %>
    <h3 style="font-size: 21px;"><%= course.name %></h3>
    <div class="row">
      <p class="col-sm-12">Withdrawn on <span class="local-time"><%= dropped.iso8601 %></span></p>
    </div>
    <% else %>
    <h3 class="courseHeader">
      <%= link_to course.name, course_path(course), {style: "flex-grow: 50;"} %>
      <span class="sectionList">
        <% sections.each do |s| %>
        <span>Section <%= s.to_s %></span><br />
        <% end %>
      </span>
    </h3>

    <div class="row">
        <div class="col-md-7">
            <%= render "assignments/table", 
                assignments: course.assignments_sorted.reverse_order, 
                for_user: current_user, show_all: current_user.course_professor?(course) %>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Teams</h3>
                </div>

                <%= render "teamsets/all",
                    admin: current_user.course_staff?(course),
                    course: course, tag: "h4", editable: false
                    %>
            </div>
        </div>
    </div>
    <% end %>
  <% end %>
  </div>
<% end %>
