<% cur_reg = current_user.registration_for(@course) %>
<% cur_user_site_admin = current_user.site_admin? %>
<% cur_user_prof_ever = current_user.professor_ever? %>
<% @page_title = "#{@course.name} - Team ##{@team.id}" %>

<p>
    Team starts on
    <strong><%= @team.start_date.strftime("%b %d, %Y") %></strong>
    <% if @team.end_date %>
        and ends the night before
        <strong><%= @team.end_date.strftime("%b %d, %Y") %></strong>.
    <% else %>
        and doesn't end.
    <% end %>
</p>

<h4>Status</h4>
<p><%= @team.active? ? "Active" : "Inactive" %></p>

<h4>Members</h4>
<ul>
    <% @team.users.each do |uu| %>
        <li><%= maybe_link_user(cur_user_site_admin || cur_user_prof_ever || current_user.id == uu.id, uu) %></li>
    <% end %>
</ul>

<h4>Submissions</h4>
<% if @team.used_submissions.empty? %>
<p>None</p>
<% else %>
<ul>
  <% @team.used_submissions.each do |s| %>
  <li><%= link_to s.assignment.name, course_assignment_submission_path(@course, s.assignment, s) %></li>
  <% end %>
</ul>
<% end %>
