<% cur_user_grades = current_user.course_grader?(@course) || current_user.course_assistant?(@course)%>
<% cur_user_student = current_user.course_student?(@course)%>

<%= form_for :grading_conflict, :url => {action: :create, method: :post} do |f| %>
  <div class="alert alert-danger">
    <h4><i>Note!</i> Grading conflicts are intended to
      recognize <i>conflicts of interest</i> such that a grader cannot
      grade a student impartially (because the student and grader
      already know each other too well, for whatever reason).  They
      are not intended to request regrades.  If you want to request
      that your assignment be regraded, contact the grader
      directly.
    </h4>
  </div>  
  <div style="display: flex; column-gap: 20px; align-items: end;">
    <div class="form-group">
      <label for="student" class="input-label">Student:</label>
      <% if cur_user_student %>
        <span><%= current_user.display_name %></span>
      <% else %>
        <%= f.select :student_id, class: "form-control" do %>
          <% @students.sort_by(&:display_name).each do |stdt| %>
            <%= content_tag :option, stdt.display_name, value: stdt.id %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <label for="staff" class="input-label">Course Grader/Assistant:</label>
      <% if cur_user_grades %>
        <%= current_user.display_name %>
      <% else %>
        <%# TODO: Filter out any graders where a conflict already exists. %>
        <%= f.select :staff_id, class: "form-control" do %>
          <% @tas_and_graders.sort_by(&:display_name).each do |stf| %>
            <%= content_tag :option, stf.display_name, value: stf.id %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label for="grading_conflict[reason]" class="input-label">Reason for Conflict:</label>
    <%= f.text_area :reason, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Conflict", id: "submit-button", class: "btn btn-primary" %>
  </div>

<% end %>
