<% cur_reg = current_user.registration_for(@course) %>
<% cur_user_ta = current_user.course_assistant?(@course) %>
<% cur_user_grades = current_user.course_grader?(@course) %>
<% cur_user_prof = current_user.course_prof?(@course) %>
<% cur_user_site_admin = current_user.site_admin? %>
<% cur_user_can_view_all = cur_user_ta || cur_user_prof || 
  cur_user_site_admin %>
<% @page_title = "Grading Conflicts" %>

<div style="margin-bottom: 10px;" >
  <span class="h3">Grading Conflicts</span>
  <span style="float: right;" >
    <% if cur_user_can_view_all %>
      <button class="btn btn-sm btn-default" id="toggle-conflicts-view">Toggle Conflict View</button>
    <% end %>
    <%= link_to "Create a Grading Conflict", 
      new_course_grading_conflict_path(@course), class: "btn btn-sm btn-success" %>
  </span>
</div>
<hr style="margin-bottom: 20px;">

<% if @grading_conflicts.empty? %>
  <h4 style="text-align: center;">No grading conflicts to show.</h4>
<% elsif cur_user_can_view_all %>
  <%= render 'conflict_tables' %>  
<% else %>
  <ul>
    <% @grading_conflicts.each do |gc| %>
      <%
        if gc.active?
          link_class = "text-success"
        elsif gc.inactive?
          link_class = "text-muted"
        elsif gc.pending?
          link_class = "text-warning"
        else
          link_class = "text-danger"
        end
      %>
      <li>
        <span class="status-tooltip">
          <span><%= gc.status.humanize %> as of <span class="local-time"><%= gc.updated_at.iso8601 %></span></span>
          <%= link_to ( cur_user_grades ? gc.student.display_name : gc.staff.display_name), 
            course_grading_conflict_path(@course, gc), class: "#{link_class}" %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>

<script type="text/javascript">
  $(function () {
    $(".status-tooltip").each(function() {
      var tooltipContents = $(this).children("span").first().remove();
      $(this).attr("title", tooltipContents[0].outerHTML);
      $(this).tooltip({animated: "fade", placement: "top", html: true});
    });
  });
</script>