<% cur_reg = current_user.registration_for(@course) %>
<% cur_user_prof = current_user.course_professor?(@course) %>
<% cur_user_prof_ever = current_user.professor_ever? %>
<% cur_user_site_admin = current_user.site_admin? %>
<% @page_title = "Grading Conflicts" %>

<style>
  .grading-conflict-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .grading-conflict-header-buttons {
    padding: 0px 10px;
  }

  .grading-conflict-info-container {
    margin-bottom: 30px; 
    font-size: 15px; 
    display: flex; 
    justify-content: start;
    align-items: baseline;
  }

  .grading-conflict-info {
    padding-right: 30px;
  }
</style>

<div class="grading-conflict-header">
  <h4>Conflict Information</h4>
  <% if cur_user_prof || cur_user_site_admin %>
    <div class="grading-conflict-header-buttons">
      <button class="btn btn-sm btn-primary" id="edit-grading-conflict-button">Edit conflict</button>
      <button class="btn btn-sm btn-success" id="confirm-grading-conflict-changes-button"
        data-toggle="modal" data-target="#grading-conflict-submit-modal">Confirm</button>
      <button class="btn btn-sm btn-danger" id="cancel-grading-conflict-changes-button">Cancel</button>
    </div>
  <% elsif @grading_conflict.can_be_rejected? %>
    <div class="grading-conflict-header-buttons">
      <button class="btn btn-sm btn-danger" data-toggle="modal" 
        data-target="#delete-grading-conflict-req-modal">Delete conflict request</button>
    </div>
  <% elsif !(@grading_conflict.pending? || @grading_conflict.active?) %>
    <div class="grading-conflict-header-buttons">
      <%# TODO: Better wording for action accomplished? %>
      <button class="btn-btn-sm btn-primary"
        data-toggle="modal" data-target="#resubmit-grading-conflict-req-modal">
        Resubmit conflict request
      </button>
    </div>  
  <% end %>
</div>
<div class="grading-conflict-info-container">
  <span class="grading-conflict-info">
    <b>Staff: </b><%= maybe_link_user(cur_user_prof_ever || cur_user_site_admin || 
      current_user == @grading_conflict.staff, 
      @grading_conflict.staff) %>
  </span>
  <span class="grading-conflict-info">
    <b>Student: </b> <%= maybe_link_user(cur_user_prof_ever || cur_user_site_admin || 
      current_user == @grading_conflict.student, 
      @grading_conflict.student) %>
  </span>
  <%
    if @grading_conflict.active?
      text_class = "text-success"
    elsif @grading_conflict.inactive?
      text_class = "text-muted"
    elsif @grading_conflict.pending?
      text_class = "text-warning"
    else
      text_class = "text-danger"
    end
  %>
  <span class="grading-conflict-info" id="grading-conflict-status">
    <b>Status: </b><b class=<%= text_class%>><%= @grading_conflict.status.capitalize %></b>
  </span>
  <%# TODO: Add logic for updating a grading conflict and deleting a request. %>
  <% if cur_user_prof || cur_user_site_admin %>
    <%# Form/inputs for Prof/Admin updating this conflict. %>
    <%= form_with model: @grading_conflict, url: course_grading_conflict_path(@course, @grading_conflict), 
      method: "patch" do |f| %>
      <div class="form-group" id="select-new-gc-status">
        <label for="updated-status" class="input-label">New Status:</label>
        <%
          status_options = GradingConflict.statuses.keys
          if !(@grading_conflict.can_be_rejected?)
            status_options = status_options.select { |s| s != "rejected" }
          end
        %>
        <%= f.select :status, options_for_select(status_options.collect { |s| [s.capitalize, s] }), 
          { include_blank: false } %>
      </div>
      <div class="modal fade" id="grading-conflict-submit-modal" role="dialog" tabindex="-1" >
        <div class="modal-dialog" role="document" >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Confirm Grading Conflict Changes</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="grading_conflict[status]" class="input-label">Reason for updating Grading Conflict: </label>
                <%= f.text_area :reason, class: "form-control" %>
              </div>
            </div>
            <div class="modal-footer">
              <%= f.submit "Submit changes", class: "btn btn-sm btn-success" %>
              <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>  
  <% elsif @grading_conflict.can_be_rejected? %>
    <%# Form/inputs for Students, Graders, and Staff updating this conflict. %>
    <div class="modal" id="delete-grading-conflict-req-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Delete Grading Conflict</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the requested grading conflict?
          </div>
          <div class="modal-footer">
            <%= link_to "Confirm", course_grading_conflict_path(@course, @grading_conflict), 
              method: :delete, class: "btn btn-sm btn-success" %>
            <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  <% elsif !(@grading_conflict.pending? || @grading_conflict.active?) %>
    <%= form_with model: @grading_conflict, url: resubmit_course_grading_conflict_path(@course, @grading_conflict), 
      method: :post do |f| %>
      <%= f.hidden_field :status, value: :pending %>
      <div class="modal" id="resubmit-grading-conflict-req-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Resubmit Grading Conflict Request</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="grading_conflict[reason]" class="input-label">
                  Please give a reason for resubmitting this grading conflict request:
                </label>
                <%= f.text_area :reason, class: "form-control" %>
              </div>
            </div>
            <div class="modal-footer">
              <%= f.submit "Confirm", class: "btn btn-sm btn-success" %>
              <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if cur_user_prof || cur_user_site_admin %>
  <h4>Audit Log</h4>
  <% # TODO: Add table sorter to this to sort by date updated. %>
  <% # TODO: Format DateTime to be readable. %>
  <table class="table" id="grading-conflict-audit-log">
    <thead>
      <th>Actor</th>
      <th>Updated At</th>
      <th>New Status</th>
      <th>Reason</th>
    </thead>
    <tbody>
      <% @grading_conflict.grading_conflict_audits.each do |ad| %>
        <tr>
          <td> <%= link_to ad.user.display_name, user_path(ad.user) %> </td>
          <td> <%= ad.updated_at.to_formatted_s(:long) %> </td>
          <td>
            <%
            if ad.active?
              text_class = "text-success"
            elsif ad.inactive?
              text_class = "text-muted"
            elsif ad.pending?
              text_class = "text-warning"
            else
              text_class = "text-danger"
            end
            %>
            <span class=<%= text_class%>><%= ad.status.capitalize %></span>
          </td>
          <td> 
            <% if ad.reason.nil? || ad.reason == "" %>
              N/A
            <% else %>
              <%= ad.reason %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <script>
    $(function () {
      $("#confirm-grading-conflict-changes-button").hide();
      $("#cancel-grading-conflict-changes-button").hide();
      $("#select-new-gc-status").hide();

      function toggleEditConflictForm(e) {
        $("#confirm-grading-conflict-changes-button").toggle();
        $("#cancel-grading-conflict-changes-button").toggle();
        $("#select-new-gc-status").toggle();
        $("#edit-grading-conflict-button").toggle();
        $("#grading-conflict-status").toggle();
      }

      $("#edit-grading-conflict-button").on("click", toggleEditConflictForm);
      $("#cancel-grading-conflict-changes-button").on("click", toggleEditConflictForm);

      $.tablesorter.themes.bootstrap = {
        caption      : 'caption',
        sortNone     : '',
        sortAsc      : '',
        sortDesc     : '',
        active       : '', // applied when column is sorted
        hover        : '', // custom css required - a defined bootstrap style may not override other classes
        // icon class names
        icons        : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
        iconSortAsc  : 'glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
        iconSortDesc : 'glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
        filterRow    : '', // filter row class; use widgetOptions.filter_cssFilter for the input/select element
        footerRow    : '',
        footerCells  : '',
        even         : '', // even row zebra striping
        odd          : ''  // odd row zebra striping
      };
      $("#grading-conflict-audit-log").tablesorter({
        headerTemplate: "{content} {icon}",
        theme: "bootstrap",
        widgets: ['uitheme'],
        sortList: [[1, 1]],
        headers: {
          3: { sorter: false }
        }
      });
    });
  </script>
<% end %>