<% cur_reg = current_user.registration_for(@course) %>
<% cur_user_prof_ever = current_user.professor_ever? %>
<% cur_user_site_admin = current_user.site_admin? %>
<% @page_title = "Grading Conflicts" %>

<style>
  .grading-conflict-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .grading-conflict-header-buttons {
    padding: 0px 10px;
  }

  .grading-conflict-info-container {
    margin-bottom: 30px; 
    font-size: 15px; 
    display: flex; 
    justify-content: start;
    align-items: baseline;
  }

  .grading-conflict-info {
    padding-right: 30px;
  }
</style>

<%# TODO: Make modal/dialog for editing the conflict; isolate all editing to there. %>

<div class="grading-conflict-header">
  <h4>Conflict Information</h4>
  <% if cur_user_prof_ever || cur_user_site_admin %>
    <div class="grading-conflict-header-buttons">
      <button class="btn btn-sm btn-primary" id="edit-grading-conflict-button">Edit conflict</button>
      <button class="btn btn-sm btn-success" id="confirm-grading-conflict-changes-button"
        data-toggle="modal" data-target="#grading-conflict-submit-modal">Confirm</button>
      <button class="btn btn-sm btn-danger" id="cancel-grading-conflict-changes-button">Cancel</button>
    </div>  
  <% end %>
</div>
<div class="grading-conflict-info-container">
  <span class="grading-conflict-info"><b>Staff: </b> <%= @grading_conflict.staff.display_name %></span>
  <span class="grading-conflict-info"><b>Student: </b> <%= @grading_conflict.student.display_name %> </span>
  <%
    if @grading_conflict.active?
      text_class = "text-success"
    elsif @grading_conflict.inactive?
      text_class = "text-muted"
    elsif @grading_conflict.pending?
      text_class = "text-warning"
    else
      text_class = "text-danger"
    end
  %>
  <span class="grading-conflict-info" id="grading-conflict-status">
    <b>Status: </b><b class=<%= text_class%>><%= @grading_conflict.status.capitalize %></b>
  </span>
  <% if cur_user_prof_ever || cur_user_site_admin %>
    <div class="form-group" id="select-new-gc-status">
      <label for="updated-status" class="input-label">New Status:</label>
      <%
        status_options = GradingConflict.statuses.keys
        if !(@grading_conflict.can_be_rejected?)
          status_options = status_options.select { |s| s != "rejected" }
        end
      %>
      <%# https://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-select %>
      <%= select :grading_conflict, :status, status_options.collect { |s| [s.capitalize, s] }, 
        { include_blank: false } %>
    </div>    
  <% end %>
</div>

<% if cur_user_prof_ever || cur_user_site_admin %>
  <div class="modal fade" id="grading-conflict-submit-modal" role="dialog" tabindex="-1" >
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Confirm Grading Conflict Changes</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="grading_conflict_audit[reason]" class="input-label">Reason for updating Grading Conflict: </label>
            <%= text_area :grading_conflict_audit, :reason, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
          <%# TODO: Fill in link to update and action items. %>
          <%= link_to "Submit changes", nil, class: "btn btn-sm btn-success" %>
        </div>
      </div>
    </div>
  </div>
  <h4>Audit Log</h4>
  <% # TODO: Format DateTime to be readable. %>
  <table class="grading-conflict-audit-log table">
    <thead>
      <th>Actor</th>
      <th>Updated At</th>
      <th>New Status</th>
      <th>Reason</th>
    </thead>
    <tbody>
      <% @grading_conflict.grading_conflict_audits.each do |ad| %>
        <td> <%= link_to ad.user.display_name, user_path(ad.user) %> </td>
        <td> <%= ad.updated_at %> </td>
        <td>
          <%
          if ad.active?
            text_class = "text-success"
          elsif ad.inactive?
            text_class = "text-muted"
          elsif ad.pending?
            text_class = "text-warning"
          else
            text_class = "text-danger"
          end
          %>
          <span class=<%= text_class%>><%= ad.status.capitalize %></span>
        </td>
        <td> 
          <% if ad.reason.nil? || ad.reason == "" %>
            N/A
          <% else %>
            <%= ad.reason %>
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
  <script>
    $(function () {
      $("#confirm-grading-conflict-changes-button").hide();
      $("#cancel-grading-conflict-changes-button").hide();
      $("#select-new-gc-status").hide();

      function toggleEditConflictForm(e) {
        $("#confirm-grading-conflict-changes-button").toggle();
        $("#cancel-grading-conflict-changes-button").toggle();
        $("#select-new-gc-status").toggle();
        $("#edit-grading-conflict-button").toggle();
        $("#grading-conflict-status").toggle();
      }

      $("#edit-grading-conflict-button").on("click", toggleEditConflictForm);
      $("#cancel-grading-conflict-changes-button").on("click", toggleEditConflictForm);
    });
  </script>
<% end %>