<% cur_reg = current_user.registration_for(@course) %>
<% cur_user_prof_ever = current_user.professor_ever? %>
<% if cur_user_prof_ever || cur_reg&.staff? %>
<style>
  <% @course.sections.each do |s| %>
  #submissions.show_one .sec_<%= s.crn %> { display: none; }
  #submissions.show_one.sec_<%= s.crn %> .sec_<%= s.crn %> { display: table-row; }
  <% end %>
</style>
<% end %>
<div style="display: flex; flex-direction: row; align-items: baseline; justify-content: space-between;">
<h3 style="display: inline-block">
  <%= type[:noun].pluralize(2).capitalize %> (<%= @gradesheet.submissions.count %>)
</h3>
<div style="padding-bottom: 0.5em; display: inline-block; flex-grow: 1;">
  <% if @gradesheet.assignment.due_date <= DateTime.now %>
     <div class="btn-group" style="white-space: nowrap;">
       <%= link_to "Download all", 
           course_assignment_tarball_path(@course, @gradesheet.assignment),
           class: "btn btn-md btn-default"
       %><button type="button" class="btn btn-md btn-default dropdown-toggle"
                 style="float: unset;"
                 data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
         <span class="caret"></span>
         <span class="sr-only">Toggle Dropdown</span>
       </button><% #
       %><ul class="dropdown-menu">
         <li><%= link_to "Download zips", 
                 course_assignment_tarball_path(@course, @gradesheet.assignment),
                 class: "dropdown-item" %></li>
         <li><%= link_to "Download for Moss", 
                 course_assignment_tarball_path(@course, @gradesheet.assignment, :moss => true),
                 class: "dropdown-item" %></li>
         <!-- <div class="dropdown-divider"></div> -->
       </ul>
     </div>

    <% if @gradesheet.missing_grades %>
    <%= link_to "Create missing grades",
        create_missing_grades_course_assignment_path(@course, @gradesheet.assignment),
        method: 'post', class: "btn btn-warning",
        data: { confirm: "This may take a while; please be patient" } %>
    <% end %>
    <% if cur_reg&.assistant? %>
      <% if @all_complete %>
      <%= link_to "Publish grades", 
          course_assignment_publish_path(@course, @gradesheet.assignment, all: 'false'), class: "btn btn-default",
          method: 'patch',
          data: { confirm: "Are you sure you want to publish all grades?" } %>
      <% else %>
      <div class="btn-group" style="white-space: nowrap;">
      <%= link_to "Publish completed grades", 
          course_assignment_publish_path(@course, @gradesheet.assignment, all: 'false'),
          class: "btn btn-default",
          method: 'patch',
          data: { confirm: "Are you sure you want to publish all completed grades?" }
          %><button type="button" class="btn btn-md btn-default dropdown-toggle"
                   style="float: unset;"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
           <span class="caret"></span>
           <span class="sr-only">Toggle Dropdown</span>
         </button><% #
         %><ul class="dropdown-menu">
           <li><%= link_to "Publish completed grades", 
                   course_assignment_publish_path(@course, @gradesheet.assignment, all: 'false'),
                   method: 'patch',
                   data: { confirm: "Are you sure you want to publish all completed grades?" } %></li>
           <li><%= link_to "Publish ALL grades", 
                   course_assignment_publish_path(@course, @gradesheet.assignment, all: 'true'),
                   method: 'patch',
                   data: { confirm: "Not all assignments have been graded!\n" +
                                    "Are you sure you want to publish all grades, even the incomplete ones?" } %></li>
        </ul>
      </div>
      <% end %>
    <% end %>
    <% else %>
    <%= link_to "New #{type[:noun].capitalize}", 
        new_course_assignment_submission_path(@course, @gradesheet.assignment), class: "btn btn-success" %>
    <% if @gradesheet.missing_grades %>
    <%= link_to "Create missing grades",
        create_missing_grades_course_assignment_path(@course, @gradesheet.assignment),
        method: 'post', class: "btn btn-warning",
        data: { confirm: "This may take a while; please be patient" }
        %>
    <% end %>
  <% end %>
</div>
  <span style="flex-grow: 1;">&nbsp;</span>  
  <button class="btn btn-default collapsed" data-toggle="collapse" disabled
        data-target="#grade-histograms" id="toggle-histograms">
    Show/hide grade histograms
  </button>
</div>

<% if @gradesheet.submissions.empty? %>
  <div class="well">
    No <%= type[:noun].pluralize(2) %> yet.
  </div>
<% else %>
<% if cur_user_prof_ever || cur_reg&.assistant? %>
<%= render "grade_distribution" %>
<% end %>
<% if cur_user_prof_ever || cur_reg&.staff? %>
<h4>Select a section: <select id="sections">
    <option value="show_all">Show all sections</option>
    <% @course.sections.each do |s| %>
    <option value="show_one sec_<%= s.crn %>">Section <%= s.to_s %></option>
    <% end %>
  </select>
</h4>
<% end %>
  <table id="submissions" class="table table-striped row-vcenter">
    <thead>
      <tr>
        <th>Submitter</th>
        <th>Date</th>
        <th>Status</th>

        <% @gradesheet.grades[:graders].each do |c| %>
        <th class="text-right">
          <% if c.autograde? && cur_reg&.professor? %>
          <%= link_to rerun_grader_course_assignment_submissions_path(@course, @gradesheet.assignment, c),
              class: "btn btn-default no-resort",
              title: "Rerun #{c.display_type} for all used submissions",
              method: :post do %><i class="glyphicon glyphicon-refresh"></i><% end %>
          <% elsif !c.autograde? && cur_reg && (cur_reg.professor? || cur_reg.assistant?) %>
          <%= link_to course_assignment_grader_allocations_path(@course, @gradesheet.assignment, c),
              class: "btn btn-default no-resort",
              title: "Assign graders" do %><i class="glyphicon glyphicon-list-alt"></i><% end %>
          <% end %>
          <% if c.extra_credit %>
          <span class="glyphicon glyphicon-star-empty" title="Extra credit"></span>
          <% end %>
          <%= c.display_type %>
        </th>
        <% end %>
        <th class="text-right">Total</th>
        <th>Grade</th>
        <th class="text-right" style="width: 6.5em;">Link</th>
      </tr>
    </thead>
    <tbody>
    <% @gradesheet.grades[:grades].each do |id, grade| %>
      <% sub = grade[:sub] %>
      <% classes = ""
         if sub.stale_team? then classes += " text-muted" end
         if cur_user_prof_ever || cur_reg&.assistant?
         classes += (" " +
           (@sections_by_student[@students[sub.user_id]&.reg_id] || []).map{|sec| "sec_#{@section_crns[sec.section_id]}"}.join(" "))
         end
         %>
      <tr class="<%= classes %>">
      <td><%= maybe_link_user(current_user.site_admin? || cur_user_prof_ever || current_user.id == sub.user.id,
                            sub.user) %></td>
        <td><span class="local-time"><%= sub.created_at.iso8601 %></span></td>
        <% scores = grade[:staff_scores] %>
        <td><%= status_image(sub, 100.0 * scores[:raw_score] / @gradesheet.max_score) %></td>
        <% scores[:scores].each do |s| %>
        <td class="text-right">
          <% if s.kind_of?(Array) %>
          <%= show_score(s[0], @gradesheet.assignment, true) %>&nbsp;/&nbsp;<%= to_fixed(s[1])%>
          <% else %>
          <%= s %>
          <% end %>
        </td>
        <% end %>
        <% if scores[:raw_score] && sub.score %>
        <td class="text-right">
          <%= to_fixed(scores[:raw_score])%>&nbsp;/&nbsp;<%= to_fixed(@gradesheet.max_score)%>
        </td>
        <td>(<%= to_fixed(sub.score) %>%)</td>
        <% else %>
        <td class="text-right"><%= image_tag("question-mark.png", height: 32) %></td>
        <td>NONE</td>
        <% end %>
        <td class="text-right">
          <form method="link"
                action="<%= course_assignment_submission_path(@course, @gradesheet.assignment, sub) %>">
            <div class="btn-group" style="white-space: nowrap;">
              <%= link_to "View",
                  course_assignment_submission_path(@course, @gradesheet.assignment, sub),
                  class: "btn btn-sm btn-default",
                  style: "float: unset;"%><% #
              %><button type="button" class="btn btn-sm btn-default dropdown-toggle"
                      style="float: unset;"
                      data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button><% #
              %><ul class="dropdown-menu">
                <li><%= link_to "View active", 
                        course_assignment_submission_path(@course, @gradesheet.assignment, sub), 
                        class: "dropdown-item" %></li>
                <li><%= link_to "View all", 
                        course_assignment_user_path(@course, @gradesheet.assignment, sub.user.id), 
                        class: "dropdown-item" %></li>
              <!-- <div class="dropdown-divider"></div> -->
              </ul>
            </div>        
          </form>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <script>
    $(function() {
      $.tablesorter.themes.bootstrap = {
        caption      : 'caption',
        sortNone     : '',
        sortAsc      : '',
        sortDesc     : '',
        active       : '', // applied when column is sorted
        hover        : '', // custom css required - a defined bootstrap style may not override other classes
        // icon class names
        icons        : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
        iconSortAsc  : 'glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
        iconSortDesc : 'glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
        filterRow    : '', // filter row class; use widgetOptions.filter_cssFilter for the input/select element
        footerRow    : '',
        footerCells  : '',
        even         : '', // even row zebra striping
        odd          : ''  // odd row zebra striping
      };
      $("#submissions").tablesorter({
        headerTemplate: "{content} {icon}",
        headers: {
          2: { sorter: false },
          <%= 5 + @gradesheet.grades[:graders].count %>: { sorter: false },
        },
        theme: "bootstrap",
        widgets: ['uitheme']
      });
      $(".no-resort").on("mousedown", function(e) { e.stopPropagation(); });
    });
    <% if cur_user_prof_ever || cur_reg&.staff? %>
    $(function() {
      var prevSection = "show_all";
      $("#sections").change(function(e) {
        $("#submissions").removeClass(prevSection).addClass($(this).val());
        prevSection = $(this).val();
      });
    });
    <% end %>
  </script>
<% end %>
