<label>Team Submissions</label>
<% if @legal_actions[:unique] %>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_unique" type="radio"
           value="unique" checked>
    <strong>Using existing teamset:</strong> this assignment has its
    own unique teamset already, with existing submissions, and cannot be changed<br>
    <input type='text' class="col-sm-12" disabled value="<%= asgn.teamset&.name %>">
  </label>
</div>
<% end %>
<% if @legal_actions[:no_teams] %>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_none" type="radio"
           value="none" <% if asgn.teamset_plan == "none" || @legal_actions[:no_teams][:checked] %>checked<% end %>>
    <strong>No teams:</strong> this assignment will be submitted individually
  </label>
</div>
<% end %>
<% if @legal_actions[:new] %>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_new" type="radio"
           value="new" <% if asgn.teamset_plan == "new" || @legal_actions[:new][:checked] %>checked<% end %>>
    <strong>New teamset:</strong> after creating this assignment, go to the Teams
    page to create a new set of teams.
    <% if @legal_actions[:new][:existing] %>
    Since some students have submitted already, those students and
    their existing submissions will be placed into solo teams.
    <% end %>
  </label>
</div>
<% end %>
<% if @legal_actions[:use] %>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_use" type="radio"
           value="use" <% if asgn.teamset_plan == "use" || @legal_actions[:use][:checked] %>checked<% end %>>
    <strong>Use existing teamset:</strong> this assignment shares a teamset with
    another one, and changes to this teamset will affect both assignments<br>
    <% if @legal_actions[:use][:existing] %>
    <input type='text' style="width: 100%;" disabled value="<%= asgn.teamset&.name %>">
    <% else %>
    <%= select_tag "assignment[teamset_source_use]",
        options_from_collection_for_select(course.teamsets, "id", "name", 
                                           asgn.teamset_source_use&.to_i || @legal_actions[:use][:value]),
        prompt: [asgn.teamset_source_use,
                 @legal_actions[:use][:value],
                 "Choose an existing teamset"].find(&:presence),
        class: "col-sm-12" %>
    <% end %>
  </label>
</div>
<% end %>
<% if @legal_actions[:copy] %>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_copy" type="radio"
           value="copy" <% if asgn.teamset_plan == "copy" %>checked<% end %>>
    <strong>Copy existing teamset:</strong> clones the teams from an existing
    teamset, so changes to one set will not affect the other.
    <% if @legal_actions[:copy][:existing] %>
    Since some students have submitted already, those students and
    their existing submissions will be temporarily placed into solo
    teams.
    <% end %>
    Any teams that cannot be cloned (because some students have dropped)
    will be ignored.
    <br>
    <%= select_tag "assignment[teamset_source_copy]",
        options_from_collection_for_select(course.teamsets, "id", "name", asgn.teamset_source_copy&.to_i),
        prompt: [asgn.teamset_source_copy,
                 "Choose an existing teamset"].find(&:presence),
        class: "col-sm-12" %>
  </label>
</div>
<% end %>
<% if @legal_actions[:clone] %>
<div class="radio">
  <label>
    <input name="assignment[teamset_plan]" id="teamset_clone" type="radio"
           value="clone" <% if asgn.teamset_plan == "clone" %>checked<% end %>>
    <strong>Clone existing teamset:</strong> clone the teamset that
    this assignment currently shares with another one, so that changes
    to the teamset for this assignment will not affect the previous
    teamset. Existing submissions for this assignment will be revised
    to reflect these new teams.<br>
    <input type='text' style="width: 100%;" disabled value="<%= asgn.teamset&.name %>">
  </label>
</div>
<% end %>
<script>
  $(function() {
    $("select[name^='assignment[teamset_source']").on("focus",
      function() { $(this).parents(".radio").find("input[type='radio']").prop('checked', true).change(); });
  });
</script>
