<%= form_for [@course, asgn.becomes(Assignment)] do |f| %>
<% f.object = asgn.becomes(asgn.class) %>
  <%= f.hidden_field :type, value: "Exam" %>
  <%= f.hidden_field :teamset_plan, value: "none" %>

  <% if asgn.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(asgn.errors.count, "error") %> prohibited this
        assignment from being saved:</h2>

      <ul>
      <% asgn.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :assignment, "Assignment Text" %>
    <p>This description will appear on the homework-submission page,
    and may be useful to remind students which files are expected, or
      a link to the assignment itself.  HTML markup is allowed here.</p>
    <%= f.text_area :assignment, class: "form-control rich-text" %>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <p>
      <%= f.label :assignment_file, "Exam questions" %>
      </p>
      <p>This file contains a skeleton of the exam
        questions, in YAML format.
        <span class="btn btn-info btn-sm pull-right" data-toggle="modal"
              data-target="#exam-schema">See schema</span>
      </p>
      <div>&nbsp;</div>
      <% if !@existing_subs %>
      <%= render "assignment_file_picker", f: f, asgn: asgn, id: "exam" %>
      <% else %>
      <div id="exam_editing" class="alert alert-danger">
        <p>
          Cannot edit the exam file: grades are already entered.
          <%= check_box_tag "enable_editing", true, false, data:
              {toggle: "toggle", on: "Edit exam file", off: "Editing locked" } %>
        </p>
        <label>
          <input type="radio" name="assignment[exam_disposal]" value="delete" checked disabled>
          Delete <b><i>all</i></b> existing submissions.
        </label>
        <label>
          <input type="radio" name="assignment[exam_disposal]" value="percentage" disabled>
          Treat all existing question scores as percentages.
        </label>
        <label>
          <input type="radio" name="assignment[exam_disposal]" value="points" disabled>
          Treat all existing question scores as absolute points.
        </label>
        <%= render "assignment_file_picker", f: f, asgn: asgn, id: "exam",
            disabled: true %>
      </div>
      <script>
        $("#enable_editing").change(function() {
          if ($(this).prop("checked")) {
            $("#exam_editing").find("input, button").prop("disabled", false);
            $("#exam > label.btn-file").removeAttr("disabled");
          } else {
            $("#exam_editing").find("input, button").prop("disabled", true);
            $("#exam > label.btn-file").attr("disabled", "disabled");
          }
          $(this).prop("disabled", false);
        });
      </script>
      <% end %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :points_available %>
      <p>This is the percentage of the final grade that this exam is worth.</p>
      <span class="col-sm-9" style="padding-left: 0;">
        <%= f.text_field :points_available, size: 10, class: 'form-control numeric' %>
      </span>
      <span class="pull-right">
        <%= f.check_box :extra_credit, data: {toggle: "toggle", on: "Extra credit", off: "Regular"} %>
      </span>
    </div>
  </div>

  <%= render 'exam_schema' %>

  <div class="for-type row">
    <div class="form-group col-sm-6">
      <%= f.label :due_date do %>
      Exam date
      <% end %>
      <div>
        <%= f.text_field :due_date, class: 'form-control datetime-picker' %>
      </div>
    </div>
  </div>

  <%= f.fields_for :lateness_config do |l| %>
  <%= l.hidden_field :id %>
  <% end %>
  <%= f.fields_for :graders, asgn.graders do |gr| %>
  <%= gr.hidden_field :type, value: "ExamGrader" %>
  <%= gr.hidden_field :order, value: gr.object.order %>
  <% end %>
  <div class="form-group">
  <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
