<style>
  .ui-state-highlight { height: 6em; margin-bottom: 20px; background-color: aliceblue; border: 1px solid black; }
</style>
<%= form_for [@course, asgn.becomes(Assignment)] do |f| %>
  <% f.object = asgn.becomes(asgn.class) %>
  <%= f.hidden_field :type, value: "Files" %>

  <% if asgn.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(asgn.errors.count, "error") %> prohibited this
        assignment from being saved:</h2>

      <ul>
      <% asgn.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :assignment, "Assignment Text" %>
    <p>This description will appear on the homework-submission page,
    and may be useful to remind students which files are expected, or
      a link to the assignment itself.  HTML markup is allowed here.</p>
    <%= f.text_area :assignment, class: "form-control rich-text" %>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <p>
        <%= f.label :assignment_file, "Assignment starter files" %>
      </p>
      <p>This file will be available for students
        to download as starter code for this
        assignment.</p>
      <%= render "assignment_file_picker", f: f, asgn: asgn, id: "files" %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :points_available %>
      <p>
        This is the percentage of the final grade that this
        assignment is worth.  Default: same as previous assignment.</p>
      <span class="col-sm-9" style="padding-left: 0;">
        <%= f.text_field :points_available, size: 10, class: 'form-control numeric' %>
      </span>
      <span class="pull-right">
        <%= f.check_box :extra_credit, data: {toggle: "toggle", on: "Extra credit", off: "Regular"} %>
      </span>
    </div>
  </div>

  <%= render 'due_date', f: f %>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= render "edit_teamset", course: @course, asgn: asgn %>
    </div>
    <div class="form-group col-sm-6">
      <%= render "time_and_interlocks", f: f, asgn: asgn %>
    </div>
  </div>

  <div class="form-group for-type">
    <div>
      <p><strong>Late Penalty</strong></p>
      <%= render 'lateness/picker', within_course: true, f: f %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <p><strong>Graders</strong></p>
      <ol id="files-graders" class="graders-list grader-defns">
        <%= f.fields_for :graders, asgn.graders_ordered do |gr| %>
          <li class="grader nested-fields">
            <div class="panel panel-default">
              <div class="panel-heading">
                <% if gr.object.grades.empty? %>
                  <div class="pull-right">
                    <%= link_to_remove_association "Remove", gr, class: 'btn btn-danger',
                        style: "vertical-align: initial; margin: -6pt -8pt;" %>
                  </div>
                <% end %>
                <strong><%= gr.object.display_type %></strong>
              </div>
              <div class="panel-body">
                <%= render "graders/#{gr.object.type.underscore}.html.erb", f: gr %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>

      <%= link_to_add_association("Add Grader", f, :graders, partial: 'graders/form',
                                  render_options: {"test_class" => "", "errors_to_show" => 3},
                                  "data-association-insertion-node" => '#files-graders',
                                  "data-association-insertion-method" => 'append',
                                  class: 'btn btn-default' ) %>
    </div>
  </div>
  <div class="form-group">
  <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
<%= render 'graders/java_style_schema' %>
<%= render 'graders/python_style_schema' %>
<%= render 'graders/junit_schema' %>
<%= render 'graders/checker_schema' %>
