<%= form_for [@course, asgn] do |f| %>
  <%= f.hidden_field :type, value: "files" %>

  <% if asgn.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(asgn.errors.count, "error") %> prohibited this
        assignment from being saved:</h2>

      <ul>
      <% asgn.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :assignment, "Assignment Text" %>
    <p>This description will appear on the homework-submission page,
    and may be useful to remind students which files are expected, or
      a link to the assignment itself.  HTML markup is allowed here.</p>
    <%= f.text_area :assignment, class: "form-control rich-text" %>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <p>
        <%= f.label :assignment_file, "Assignment starter files" %>
      </p>
      <p>This file will be available for students
        to download as starter code for this
        assignment.</p>
      <p class="form-inline">
        <label class="btn btn-default btn-file">
          Browse <%= f.file_field :assignment_file, id: "assignment-file", style: "display: none;" %>
        </label>
        <span id="current_file" class="btn">Current file:
          <%= asgn.assignment_file.empty? ? "nothing" :
              link_to(asgn.assignment_file,
              Upload.upload_path_for(asgn.assignment_full_path)) %></span>
        <%= f.hidden_field "removefile", value: "" %>
        <button type="button"
                <% if asgn.assignment_file.empty? %>
                disabled  class="btn btn-default pull-right"
                <% else %>
                class="btn btn-warning pull-right"
                <% end %>
                id="remove-assignment-file">Clear assignment file</button>
        <script>
          $("#assignment-file").change(function() {
            var label = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
            $("#current_file").text("New file: " + label);
            $("#remove-assignment-file").prop('disabled', false).removeClass("btn-default").addClass("btn-warning");
            $("input#assignment_removefile").val('');
          });
          $("#remove-assignment-file").click(function() {
            $("input[name='assignment_file']").replaceWith(
              $("input[name='assignment_file']").val("<nothing>").clone(true));
            $(this).prop('disabled', true).addClass("btn-default").removeClass("btn-warning");
            $("#current_file").text("New file: <nothing>");
            $("input#assignment_removefile").val('remove');
          });
        </script>
      </p>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :points_available %>
      <p>
        This is the percentage of the final grade that this
        assignment is worth.  Default: same as previous assignment.</p>
      <%= f.text_field :points_available, size: 10, class: 'form-control numeric' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :due_date do %>
      Due date
      <% end %>
      <p>Assignment should not be submitted after this time. Default: one week from today.</p>
      <div>
        <%= f.text_field :due_date, class: 'form-control datetime-picker' %>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :available_date %>
      <p>Assignment will not be visible until this time. Default: today.</p>
      <div>
        <%= f.text_field :available, class: 'form-control datetime-picker' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= render "edit_teamset", course: @course, asgn: asgn %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :request_time_taken, "Request time taken?" %>
      <p>If selected, ask students on each submission how long they've
        worked on the assignment.</p>
      <%= f.check_box :request_time_taken, checked: asgn.request_time_taken,
          data: {toggle: "toggle", on: "Yes", off: "No"} %>
    </div>
  </div>

  <div class="form-group for-type">
    <div>
      <p><strong>Late Penalty</strong></p>
      <%= render 'lateness/picker', within_course: true, f: f %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <p><strong>Graders</strong></p>
      <ol id="files-graders" class="graders-list grader-defns">
        <%= f.fields_for :graders, asgn.graders_ordered do |gr| %>
          <li class="grader nested-fields">
            <div class="panel panel-default">
              <div class="panel-heading">
                <% if gr.object.grades.empty? %>
                  <div class="pull-right">
                    <%= link_to_remove_association "Remove", gr, class: 'btn btn-danger' %>
                  </div>
                <% end %>
                <strong><%= gr.object.display_type %></strong>
              </div>
              <div class="panel-body">
                <%= render "graders/#{gr.object.type.underscore}.html.erb", f: gr %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>

      <%= link_to_add_association("Add Grader", f, :graders, partial: 'graders/form',
                                  render_options: {"test_class" => "", "errors_to_show" => 3},
                                  "data-association-insertion-node" => '#files-graders',
                                  "data-association-insertion-method" => 'append',
                                  class: 'btn btn-default' ) %>
    </div>
  </div>
  <div class="form-group">
  <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
