<div>
  <ul class="nav nav-tabs">
    <li><a href="#type-files" data-toggle="tab">Files</a></li>
    <li><a href="#type-questions" data-toggle="tab">Questions</a></li>
    <li><a href="#type-codereview" data-toggle="tab">Code Review</a></li>
    <li><a href="#type-exam" data-toggle="tab">Exam</a></li>
  </ul>

  <div class="tab-content">
    <div id="type-files" class="tab-pane active">
      <%= render 'files_form', asgn: @files || @assignment %>
    </div>
    <div id="type-questions" class="tab-pane active">
      <%= render 'questions_form', asgn: @quest || @assignment %>
    </div>
    <div id="type-codereview" class="tab-pane active">
      <%= render 'codereview_form', asgn: @codereview || @assignment %>
    </div>
    <div id="type-exam" class="tab-pane active">
      <%= render 'exam_form', asgn: @exam || @assignment %>
    </div>
  </div>
  <script>
    $(function() { $("a[href='#type-<%= @assignment.type.downcase %>']").click(); });
  </script>
</div>
