<div>
  <ul class="nav nav-tabs">
    <li <% if @assignment == @files %>class="active"<% end %>><a href="#type-files" data-toggle="tab">Files</a></li>
    <li <% if @assignment == @quest %>class="active"<% end %>><a href="#type-questions" data-toggle="tab">Questions</a></li>
    <li <% if @assignment == @codereview %>class="active"<% end %>><a href="#type-codereview" data-toggle="tab">Code Review</a></li>
    <li <% if @assignment == @exam %>class="active"<% end %>><a href="#type-exam" data-toggle="tab">Exam</a></li>
  </ul>

  <div class="tab-content">
    <div id="type-files" class="tab-pane <%= if @assignment == @files; "active" end %>">
      <%= render 'files_form', asgn: @files || @assignment %>
    </div>
    <div id="type-questions" class="tab-pane <%= if @assignment == @quest; "active" end %>">
      <%= render 'questions_form', asgn: @quest || @assignment %>
    </div>
    <div id="type-codereview" class="tab-pane <%= if @assignment == @codereview; "active" end %>">
      <%= render 'codereview_form', asgn: @codereview || @assignment %>
    </div>
    <div id="type-exam" class="tab-pane <%= if @assignment == @exam; "active" end %>">
      <%= render 'exam_form', asgn: @exam || @assignment %>
    </div>
  </div>
</div>
