<% show_weight = false if show_weight.nil? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Assignments
    </h3>
  </div>

  <% score_sum = 0.0; weight_sum = 0.0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Due Date</th>
        <% if show_weight %>
          <th>Weight</th>
        <% end %>
        <th>Score&nbsp;(%)</th>
        <th>Submissions</th>
      </tr>
    </thead>
    <tbody>
      <% if show_all then
           assns = assignments
         else
           assns = assignments.where("available <= ?", DateTime.current)
         end %>
      <% assns.order(due_date: :desc, available: :desc).each do |assignment| %>
        <%
          submissions = for_user.submissions_for(assignment)
          used = assignment.used_sub_for(for_user)
          score =
           if used.nil?
             nil
           elsif used.grade_complete?
             score_sum += (used.score * assignment.points_available) / 100.0
             used.score
           else
             image_tag("question-mark.png", height: 16, title: "Grading is not yet complete")
           end
          %>
        <tr>
          <td><%= link_to assignment.name, course_assignment_path(assignment.course, assignment) %></td>
          <td><span class="local-time"><%= assignment.due_date %></span></td>
          <% weight_sum += assignment.points_available %>
          <% if show_weight %>
            <td>
              <%= show_score(assignment.points_available, assignment, true) %>
            </td>
          <% end %>
          <td><%= show_score(score, assignment) %></td>
          <td style="white-space: nowrap;">
            <% submissions.limit(5).each do |submission| %>
             <%= link_to course_assignment_submission_path(assignment.course, assignment, submission) do %>
              <% if used and submission.id == used.id %>
               <span class="label label-success" 
                  data-toggle="tooltip" data-placement="top"
                  title="This submission is used for grading">
                 <%= if submission.grade_complete? then to_fixed(submission.score) else "?" end%>
               </span>
              <% else %>
               <span class="label label-default">
                 <%= if submission.grade_complete? 
                       to_fixed(submission.score) 
                     else 
                       "?" 
                     end
                  %>
               </span>
              <% end %>
             <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <tr>
      <td>Estimated Total</td>
      <% if show_weight %>
        <td>-</td>
      <% end %>
      <td><%= weight_sum %></td>
      <td><%= score_sum %></td>
      <td>-</td>
    </tr>
    </tbody>
  </table>
</div>
