<% show_weight = false if show_weight.nil? %>
<% is_admin = current_user&.course_staff?(@course) %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Assignments
    </h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Due Date</th>
        <% if show_weight %>
          <th>Weight</th>
        <% end %>
        <th>Score&nbsp;(%)</th>
        <th>Submissions</th>
      </tr>
    </thead>
    <tbody>
      <% if show_all then
           assns = assignments
         else
           assns = assignments.where("available <= ?", DateTime.current)
         end
         assns = assns.order(due_date: :desc, available: :desc)
         %>
      <% used_subs_for_user = for_user.used_submissions_for(assns).includes(:submission)
                                      .map{|us| [us.assignment_id, us] }.to_h %>
      <% subs_for_user = Assignment.submissions_for([for_user], assns)
         cached_grades_complete = Assignment.cached_grades_complete(assns, subs_for_user)
         subs_for_user = subs_for_user.group_by(&:assignment_id)
         %>
      <% assns.each do |assignment| %>
      <%
           submissions = subs_for_user[assignment.id] || []
           used = used_subs_for_user[assignment.id]&.submission
           score =
             if used.nil?
               nil
             elsif cached_grades_complete[used.id]
               used.score
             else
               image_tag("question-mark.png", height: 16, title: "Grading is not yet complete")
             end
          %>
        <tr>
          <td><%= link_to assignment.name, course_assignment_path(assignment.course, assignment) %></td>
          <td><span class="local-time"><%= assignment.due_date.iso8601 %></span></td>
          <% if show_weight %>
            <td>
              <%= show_score(assignment.points_available, assignment, true) %>
            </td>
          <% end %>
          <td><%= show_score(score, assignment, is_admin) %></td>
          <td style="white-space: nowrap;">
            <% submissions.take(5).each do |submission| %>
             <%= link_to course_assignment_submission_path(assignment.course, assignment, submission) do %>
              <% if used && submission.id == used.id %>
               <span class="label label-success"
                  data-toggle="tooltip" data-placement="top"
                  title="This submission is used for grading">
                 <%= if cached_grades_complete[submission.id] then to_fixed(submission.score) else "?" end %>
               </span>
              <% else %>
               <span class="label label-default">
                 <%= if cached_grades_complete[submission.id] then to_fixed(submission.score) else "?" end %>
               </span>
              <% end %>
             <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
