<% cur_reg = current_user.registration_for(@course)
   cur_reg_staff = cur_reg&.staff?
   used_sub = gradesheet.assignment.used_sub_for(user)
   %>
<% if gradesheet.submissions.empty? %>
  <div class="well">
    No submissions yet.
  </div>
<% else %>
<style>
  .submitter { font-weight: bold; }
</style>
  <table class="table table-striped row-vcenter">
    <tr>
      <th>Status</th>
      <% if gradesheet.assignment.team_subs? %>
      <th>Team (submitter in bold)</th>
      <% else %>
      <th>Submitter</th>
      <% end %>
      <th>Date</th>
      <th>Status</th>
      <% gradesheet.grades[:graders].each do |c| %>
      <th class="text-right"><%= c.display_type %></th>
      <% end %>
      <th class="text-right">Total</th>
      <th>Grade</th>
      <th class="text-right" style="width: 6.5em;">Action</th>
    </tr>

  <% gradesheet.grades[:grades].each do |id, grade| %>
    <% sub = grade[:sub] %>
    <% used = (!used_sub.nil? && used_sub.id == sub.id) %>
    <% if used && sub.stale_team? %>
    <tr class='warning'>
    <% elsif used %>
    <tr class='success'>
    <% elsif sub.stale_team? %>
    <tr class='muted'>
    <% else %>
    <tr>
    <% end %>
      <td>
        <% if sub.stale_team? && used %>
        <span class="well-sm glyphicon glyphicon-exclamation-sign" 
              data-toggle="tooltip" data-placement="top"
              title="Team was dissolved before homework was due, but submission is being used anyway"></span>
        <% elsif sub.stale_team? %>
        <span class="well-sm glyphicon glyphicon-alert" 
              data-toggle="tooltip" data-placement="top"
              title="Team was dissolved before homework was due"></span>
        <% elsif used %>
        <span class="well-sm glyphicon glyphicon-chevron-right"
              data-toggle="tooltip" data-placement="top"
              title="This submission is used for grading"></span>
        <% end %>
      </td>
      <% if gradesheet.assignment.team_subs? %>
      <td><%= maybe_link_team(cur_reg_staff, cur_reg_staff || [current_user.id],
                              sub.team, [[sub.user_id, "submitter"]].to_h) %></td>
      <% else %>
      <td><%= maybe_link_user(cur_reg_staff, sub.user) %></td>
      <% end %>
      <td><span class="local-time"><%= sub.created_at.iso8601 %></span></td>
      <% scores = if cur_reg_staff then grade[:staff_scores] else grade[:blind_scores] end %>
      <% if scores[:raw_score]
         score = scores[:raw_score] / gradesheet.max_score
         no_score = false
         else
         score = (scores[:scores].reduce([0, 0, true]) do |acc, s|
           if s.kind_of?(Array)
             [acc[0] + s[0], acc[1] + s[1], false]
           else
             acc
           end
         end)
         no_score = score[2]
         score = (score[1] == 0 ? 0 : score[0] / score[1])
         end %>
      <td><%= if no_score
              then image_tag("question-mark.png", height: 32)
              else status_image(sub, 100.0 * score) end %></td>
      <% scores[:scores].each do |s| %>
      <td class="text-right">
        <% if s.kind_of?(Array) %>
        <%= show_score(s[0]) %>&nbsp;/&nbsp;<%= to_fixed(s[1]) %>
        <% else %>
        <%= s %>
        <% end %>
      </td>
      <% end %>
      <% if scores[:raw_score] && sub.score %>
      <td class="text-right"><%= to_fixed(scores[:raw_score]) %>&nbsp;/&nbsp;<%= to_fixed(gradesheet.max_score) %></td>
      <td>(<%= to_fixed(sub.score) %>%)</td>
      <% else %>
      <td class="text-right"><%= image_tag("question-mark.png", height: 32) %></td>
      <td>NONE</td>
      <% end %>
      <% if cur_reg_staff %>
      <td class="text-right">
        <form method="link"
              action="<%= course_assignment_submission_path(@course, @gradesheet.assignment, sub) %>">
          <div class="btn-group" style="white-space: nowrap;">
            <%= link_to "View",
                course_assignment_submission_path(course, gradesheet.assignment, sub),
                class: "btn btn-sm btn-default" %><% #
            %><button type="button" class="btn btn-sm btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button><% #
            %><ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to "View", 
                      course_assignment_submission_path(course, gradesheet.assignment, sub), 
                      class: "dropdown-item" %></li>
              <% if sub.team %>
                <li><%= link_to "Use for everyone", 
                      team_use_course_assignment_submission_path(course, gradesheet.assignment, sub),
                      method: :post,
                      class: "dropdown-item" %></li>
                <li><%= link_to "Use for this student",
                        user_use_course_assignment_submission_path(course, gradesheet.assignment, sub, user),
                        method: :post,
                        class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "Use for grading",
                        user_use_course_assignment_submission_path(course, gradesheet.assignment, sub, user),
                        method: :post,
                        class: "dropdown-item"%></li>
              <% end %>
            </ul>
          </div>
        </form>
      </td>
      <% else %>
      <td><%= link_to "View", course_assignment_submission_path(course, gradesheet.assignment, sub) %></td>
      <% end %>
    </tr>
  <% end %>

  </table>
<% end %>
