<% @page_title = "Edit Assignment" %>

<p>
  <%= link_to "Back to Course: #{@course.name}", course_path(@course) %>
<% unless @chapter.nil? %>
  | <%= link_to "Back to Chapter: #{@chapter.name}", @chapter %>
<% end %>
  | <%= link_to "View Assignment", course_assignment_path(@course, @assignment) %>
</p>

<p><strong>Edit Existing <%= @assignment.type.titlecase %> Assignment</strong></p>

<%= render "#{@assignment.type.underscore}_form", asgn: @assignment %>
