<% @page_title = "#{@course.name} / Assignment Weights" %>

<% if @course.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <h2><%= pluralize(@course.errors.count, "error") %> prohibited
  these weights from being saved:</h2>

  <ul>
    <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_tag weights_course_assignments_path(@course) do %>
<table class="table table-hover">
  <thead>
    <th class="col-sm-4">Assignment Name</th>
    <th>Weight</th>
    <th></th>
  </thead>
  <tbody>
<% @ordered_assignments.each do |a| %>
    <tr>
      <td><%= label_tag("weight[#{a.id}]", a.name) %></td>
      <td><%= text_field_tag "weight[#{a.id}]", a.points_available,
              class: "weight #{if a.extra_credit then 'extra_credit' end} form-field numeric" %></td>
      <td><%= if a.extra_credit then "(Extra credit)" end %></td>
    </tr>
<% end %>
   <tr id="total-row" class="alert alert-success">
     <td>Points currently assigned</td>
     <td id="total"></td>
     <td></td>
   </tr>
   <tr id="remaining-row" class="alert alert-info">
     <td>Remaining points</td>
     <td id="remaining"></td>
     <td></td>
   </tr>
   <tr id="extra-row" class="alert alert-success">
     <td>Available extra credit points</td>
     <td id="extra"></td>
     <td></td>
   </tr>
  </tbody>
</table>
  <div class="form-group">
    <%= submit_tag "Update weights", class: 'btn btn-primary' %>
  </div>
<script type="text/javascript">
$(function() {
  var weights = $("input.weight");
  var format = new Intl.NumberFormat('en', {minimumFractionDigits: 1, maximumFractionDigits: 10});
  function refresh() {
    var sum = 0;
    var extra = 0;
    weights.each(function() {
      var val = Number($(this).val());
      if (!isNaN(val)) {
        $(this).val(format.format(val));
        if ($(this).hasClass("extra_credit"))
          extra += val;
        else
          sum += val;
      }
    });
    $("#remaining").text(100 - sum);
    $("#total").text(sum);
    $("#extra").text(extra);
    if (sum > 100) {
     $("#remaining-row").removeClass("alert-info").addClass("alert-danger");
     $("#total-row").removeClass("alert-success").addClass("alert-danger");
    } else {
     $("#remaining-row").addClass("alert-info").removeClass("alert-danger");
     $("#total-row").addClass("alert-success").removeClass("alert-danger");
    }
  }
  weights.blur(refresh);
  refresh();
  $("form").submit(ensureValidNumericInputOnSubmit);
});
</script>


<% end %>
