<% @page_title = "#{@course.name} / Assignments" %>
<% now = DateTime.current %>

<% if @course && (@course.registered_by?(current_user) || current_user.site_admin?) %>
<% score_summary = @course.score_summary.to_a %>

<style>
  svg > g:last-child g:last-child > text { cursor: not-allowed; }
  svg > g:last-child g:last-child > rect { fill: transparent; }
  svg > g:last-child g:last-child > text[fill="#000000"] {
    cursor: pointer;
    fill: #337ab7;
    text-decoration: underline;
  }
  svg > g:last-child g:last-child > text[fill="#000000"]:hover {
    fill: #23527c;
  }
</style>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title" id="assignments" data-toggle="collapse" data-target="#assignments-table"
         style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
      <span style="flex: 1;">Assignments</span>
      <% if @course&.registered_by?(current_user) %>
      <div><%= link_to "Edit Assignment Weights", weights_course_assignments_path(@course), class: 'btn btn-sm btn-default' %></div>
      <div><%= link_to "New", new_course_assignment_path(@course), class: 'btn btn-sm btn-success' %></div>
      <% end %>
    </div>
  </div>

  <div id="assignments-table" class="panel-body collapse in">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Assignment</th>
          <th class="sorter-dates">Assigned</th>
          <th class="sorter-dates">Due</th>
          <th>Weight</th>
          <th>Min (%)</th>
          <th>Avg (%)</th>
          <th>Max (%)</th>
        </tr>
      </thead>
      <tbody>
        <% @ordered_assignments.each do |assn| %>
        <% if assn.available > now %>
        <tr class="text-muted">
          <td><%= link_to assn.name, course_assignment_path(@course, assn) %></td>
          <td><span class="local-time"><%= assn.available.iso8601 %></span></td>
          <td><span class="local-time"><%= assn.due_date.iso8601 %></span></td>
          <td class="text-right">
            <% if assn.extra_credit %>
            <span class="glyphicon glyphicon-star-empty" title="Extra credit"></span>
            <% end %>
            <%= show_score(assn.points_available, assn, true) %>
          </td>
          <td class="text-center">N/A</td>
          <td class="text-center">N/A</td>
          <td class="text-center">N/A</td>
        <% else %>
        <tr>
          <td><%= link_to assn.name, course_assignment_path(@course, assn) %></td>
          <td><span class="local-time"><%= assn.available.iso8601 %></span></td>
          <td><span class="local-time"><%= assn.due_date.iso8601 %></span></td>
          <td class="text-right">
            <% if assn.extra_credit %>
            <span class="glyphicon glyphicon-star-empty" title="Extra credit"></span>
            <% end %>
            <%= show_score(assn.points_available, assn, true) %>
          </td>
          <% if assn.due_date > now %>
          <td class="text-muted text-center">N/A</td>
          <td class="text-muted text-center">N/A</td>
          <td class="text-muted text-center">N/A</td>
          <% else %>
          <% stat = @stats[assn.id] %>
          <td class="text-right"><%= show_score(stat&.min, assn, true) %>%</td>
          <td class="text-right"><%= show_score(stat&.avg, assn, true) %>%</td>
          <td class="text-right"><%= show_score(stat&.max, assn, true) %>%</td>
          <% end %>
        <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title" data-toggle="collapse" data-target="#students-table"
         style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
      <span style="flex: 1;">
        Students
        <span id="all-students-count" style="display: none;">(<%= score_summary.count %>)</span>
        <span id="current-students-count">(<%= score_summary.count{|i| !i[:dropped]} %>)</span>
      </span>
      <div id="toggle-dropped" class="btn-sm btn btn-default">Show dropped students</div>
    </div>
  </div>
  <div id="students-table" class="panel-body collapse in hide-dropped">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan=2>Student</th>
          <th>Min</th>
          <th>Cur</th>
          <th>Max</th>
          <th>No&nbsp;subs</th>
          <th>Ungraded</th>
          <th>Future</th>
        </tr>
      </thead>
      <tbody>
        <% score_summary.each do |info| %>
          <% if info[:dropped] %>
          <tr class="dropped warning text-muted">
          <% else %>
          <tr>
          <% end %>
            <td width="1em"><span><%= mail_to "#{info[:s].name} <#{info[:s].email}>", "@" %></span></td>
            <td><span><%= link_to info[:s].display_name, impersonate_user_path(info[:s]), 
                          method: 'post', class: 'user-link', data: user_link_data(info[:s]) %></span>
              <% grades = @ordered_assignments.map{|a| info[:used][a.id]&.score&.round(2) || false} %>
              <% subs   = @ordered_assignments.map{|a| info[:used][a.id]&.submission_id || ""} %>
              <p class="hidden" data-grades="<%= raw json_escape(JSON.generate(grades)) %>" data-subs='<%= raw json_escape(JSON.generate(subs)) %>'></p>
            </td>
            <td class="col-md-1"><span class="<%= color_warning(info[:min]) %>"><%= show_score(info[:min], nil, true) %></span></td>
            <td class="col-md-1">
              <% if info[:cur].nan? %>
              <span>?</span>
              <% else %>
              <span class="<%= color_warning(info[:cur]) %>"><%= show_score(info[:cur], nil, true) %></span>
              <% end %>
            </td>
            <td class="col-md-1"><span class="<%= color_warning(info[:max]) %>"><%= show_score(info[:max], nil, true) %></span></td>
            <td class="col-md-1"><span data-toggle="tooltip" data-placement="top" title="(<%= info[:unsub_names].to_sentence %>)">
                <%= show_score(info[:unsub], nil, true) %></span></td>
            <td class="col-md-1"><span data-toggle="tooltip" data-placement="top" title="(<%= info[:pending_names].to_sentence %>)">
                <%= show_score(info[:pending], nil, true) %></span></td>
            <td class="col-md-1"><span><%= show_score(info[:remaining], nil, true) %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script>
  <%= render partial: "index", formats: [:js] %>
</script>

<% else %>
<%= render "assignments/table", assignments: @course.assignments_sorted.reverse_order, 
    for_user: current_user, show_all: false, show_weight: true %>
<%= render "assignments/grade_stats",
    for_user: current_user, stats:
    @course.score_summary([current_user]).first %>
<% end %>
