  <tr class="form-group file-picker" id="<%= id %>">
    <td class="col-sm-2"><%= f.label "upload_file", label%></td>
    <td class="col-sm-4">
      <label class="btn btn-default btn-file">
        Browse <%= f.file_field "upload_file", class: "custom-file", style: "display: none;" %>
      </label>
      <%= f.hidden_field :removefile, class: "remove-custom-file", value: '' %>
      <span class="current_file" style="margin: 6px 12px;">Current file:
        <%= f.object.upload_file.nil? ? "nothing" :
            link_to(f.object.upload_file, f.object.upload.path) %></span>
    </td>
    <td>
      <button type="button"
              <% if f.object.upload_file.nil? %>
              disabled  class="btn btn-default remove-custom-file"
              <% else %>
              class="btn btn-warning remove-custom-file"
              <% end %> >Clear grader file</button>
      <% if local_assigns[:schema] %>
      <span class="btn btn-info" data-toggle="modal"
            data-target="#<%= schema %>">See schema</span>
      <% end %>
    </td>
  </tr>
