<%= f.hidden_field :type, value: "JavaStyleGrader" %>
<%= f.hidden_field :order %>

<table class="table no-first-row" style="margin-bottom: 0px;">
  <tr>
    <td class="col-sm-2"><%= f.label "avail_score", "Points available:" %></td>
    <td class="col-sm-4"><%= f.spinner "avail_score", f.object.avail_score || 50, :min => 0, :delta => 5 %></td>
    <td><%= f.check_box :extra_credit, data: {toggle: "toggle", on: "Extra credit", off: "Regular"} %></td>
  </tr>
  <%= render "graders/grader_file_picker", f: f, id: f.object.id.to_s, label: "Custom configuration:" %>
</table>
