<%= f.hidden_field :type, value: "SandboxGrader" %>
<%= f.hidden_field :order %>

<table class="table no-first-row" style="margin-bottom: 0px;">
  <tr class="form-group">
    <td><%= f.label "avail_score", "Points available:" %></td>
    <td><%= f.spinner "avail_score", f.object.avail_score || 50, :min => 0, :delta => 5 %></td>
  </tr>
  <tr class="form-group">
    <td><%= f.label "upload_file", "Grading file:" %></td>
    <td><%= f.file_field "upload_file" %>
      <% if f.object.upload_file %>
        <br>Current file: <%= link_to f.object.upload_file, f.object.upload_file %>
      <% end %>
    </td>
  </tr>
  <tr class="form-group">
    <td><%= f.label "params", "Grading driver:" %></td>
    <td><%= f.select("params", grading_drivers.map { |dd| [dd, dd] },
                      selected: f.object.params || 'makefile.rb' )%></td>
  </tr>
</table>
