<%= f.hidden_field :type, value: "SandboxGrader" %>
<%= f.hidden_field :order %>

<table class="table no-first-row" style="margin-bottom: 0px;">
  <tr class="form-group">
    <td class="col-sm-2"><%= f.label "avail_score", "Points available:" %></td>
    <td class="col-sm-4"><%= f.spinner "avail_score", f.object.avail_score || 50, :min => 0, :delta => 5 %></td>
    <td><%= f.check_box :extra_credit, data: {toggle: "toggle", on: "Extra credit", off: "Regular"} %></td>
  </tr>
  <%= render "graders/grader_file_picker", f: f, id: f.object.id.to_s, label: "Grading file:" %>
  <tr class="form-group">
    <td class="col-sm-2"><%= f.label "extra_upload_file", "Extra file:" %></td>
    <td class="col-sm-4"><%= f.file_field "extra_upload_file" %>
      <% if f.object.extra_upload_file %>
        <br>Current file: <%= link_to f.object.extra_upload_file, f.object.extra_upload.path %>
      <% end %>
    </td>
    <td></td>
  </tr>

</table>
