<% default_tab =
     if !within_course
       @course&.lateness_config&.type || "LatePerDayConfig"
     elsif f.object.lateness_config_id.nil? || f.object.lateness_config_id == @course&.lateness_config_id
       'default'
     else
       f.object.lateness_config.type
     end
   %>
<div class="form-tabs" data-init-tab="<%= default_tab %>">
  <% if !within_course %>
  <p class="col-sm-12">(This is the default late policy for all
    assignments in this course.)</p>
  <% end %>

  <ul class="nav nav-tabs">
    <% if within_course %>
      <li class="active">
        <a href="#" data-tab="default">
          Course default
        </a>
      </li>
    <% end %>
    <li>
      <a href="#" data-tab="LatePerDayConfig">Late-per-day</a>
    </li>
    <li>
      <a href="#" data-tab="LatePerHourConfig">Late-per-hour</a>
    </li>
    <li>
      <a href="#" data-tab="FixedDaysConfig">Limited number</a>
    </li>
    <% if within_course %>
      <li>
        <a href="#" data-tab="copy">Use existing settings</a>
      </li>
    <% end %>
  </ul>
  <div class="form-tabs-content tab-content">
    <% if within_course %>
      <div class="tab-pane" data-tab="default">
        <div class="form-group">
          <%= f.fields_for :lateness_config do |cd| %>
          <%= cd.hidden_field :id, value: @course&.lateness_config_id %>
          <p>Use course-default lateness policy:</p>
          <p><%= @course.lateness_config.to_s %></p>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="tab-pane" data-tab="LatePerDayConfig">
      <div class="form-group">
        <%= f.fields_for :lateness_config do |lpd| %>
          <%  cfg = lpd.object %>
          <%= lpd.hidden_field :id, value: (within_course && @course&.lateness_config_id == cfg.id) ? nil : cfg.id %>
          <%= lpd.hidden_field :type, value: "LatePerDayConfig" %>
          <div class="form-inline">
            Deduct
            <%= lpd.spinner "percent_off", cfg.percent_off,
              min: 0, max: 100, delta: 5 %>
            percent every
            <%= lpd.spinner "frequency", cfg.frequency,
              min: 0, max: 100 %>
            days late to a maximum of
            <%= lpd.spinner "max_penalty", cfg.max_penalty,
              min: 0, max: 100, delta: 5 %>
            percent off.
          </div>
          <br>
          <div class="form-inline">
            Stop accepting assignments after
            <%= lpd.spinner "days_per_assignment", cfg.days_per_assignment, min: 1, max: 100 %>
            days.
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane" data-tab="LatePerHourConfig">
      <%= f.fields_for :lateness_config do |lph| %>
        <div class="form-group">
          <%  cfg = lph.object %>
          <%= lph.hidden_field :id, value: (within_course && @course&.lateness_config_id == cfg.id) ? nil : cfg.id %>
          <%= lph.hidden_field :type, value: "LatePerHourConfig" %>
          <div class="form-inline">
            <%= lph.hidden_field "frequency", value: "1" %>
            Deduct
            <%= lph.spinner "percent_off", cfg.percent_off, min: 0, max: 100, delta: 1 %>
            percent every hour to a maximum of
            <%= lph.spinner "max_penalty", cfg.max_penalty, min: 0, max: 100, delta: 5 %>
            percent off.
          </div>
          <br>
          <div class="form-inline">
            Stop accepting assignments after
            <%= lph.spinner "days_per_assignment", cfg.days_per_assignment, min: 0, max: 100 %>
            days.
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-pane" data-tab="FixedDaysConfig">
      <%= f.fields_for :lateness_config do |fd| %>
        <div class="form-group">
          <%  cfg = fd.object %>
          <%= fd.hidden_field :id, value: (within_course && @course&.lateness_config_id == cfg.id) ? nil : cfg.id %>
          <%= fd.hidden_field :type, value: "FixedDaysConfig" %>
          <div class="form-inline">
            Allow users or teams at most
            <%= fd.spinner "days_per_assignment", cfg.days_per_assignment, min: 0, max: 5 %>
            late days per assignment with no penalty.
          </div>
          <br>
          <div class="form-inline">
            Stop accepting assignments after
            <%# NOTE: deliberately on form f (for the course), not fd (for the config) %>
            <%= f.spinner "total_late_days", @course.total_late_days || 4, min: 0, max: 100 %>
            late days for the entire course or
            <%= fd.spinner "max_penalty", cfg.max_penalty || 100, min: 1, max: 100 %> late assignments,
            whichever is lower.
          </div>
        </div>
      <% end %>
    </div>

    <% if within_course %>
      <div class="tab-pane" data-tab="copy">
        <div class="form-group">
          <label for="sel1">Select existing lateness policy:</label>
          <%= f.select :lateness_config_id, class: 'form-control' do %>
            <% LatenessConfig.all.each do |c| %>
              <%  attribs = c.attributes.map do |k, v| ["data-" + k, v || ""] end.to_h %>
              <%  attribs["value"] = attribs["data-id"] %>
              <%= content_tag :option, attribs do c.to_s end %>
            <% end %>
          <% end %>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>

