<% @page_title = "View Term" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @term.name %>
</p>

<p>
  <b>Archived:</b>
  <%= @term.archived? ? "yes" : "no" %>
</p>

<% if current_user.site_admin? %>
  <%= link_to 'Edit', edit_term_path(@term) %> |
<% end %>
<%= link_to 'Back', terms_path %>
