<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-3 text-center">
      <%= image_tag Upload.upload_path_for(@user.profile || "silhouette.jpg"),
          id: "profile_preview", alt: @user.display_name, width: "100%" %>
      <label class="btn btn-default btn-file" style: "width: 100%;"
             data-toggle="tooltip" data-placement="bottom"
             title="Images will be resized to 200x300 pixels, and compressed to 40KB">
        Select profile photo
        <%= f.file_field "profile", value: Upload.upload_path_for(@user.profile),
            accept: 'image/png,image/gif,image/jpeg', style: "display: none;"%>
      </label>
    </div>
    <div class="col-sm-9">
      <table class="table">
        <tr class="form-group">
          <td><%= f.label :first_name %></td>
          <td><%= f.text_field :first_name, class: 'form-control' %></td>
        </tr>
        <tr class="form-group form-inline">
          <td><%= f.label :nickname %></td>
          <td style="vertical-align: middle;">
            <%= f.text_field :nickname, class: 'form-control', style: "width: 80%;" %>
            <label style="float: right; margin-top: 0.4em;"><input type="checkbox" id="nick_is_name"> Use first name</label>
          </td>
        </tr>
        <tr class="form-group">
          <td><%= f.label :last_name %></td>
          <td><%= f.text_field :last_name, class: 'form-control' %></td>
        </tr>
        <tr class="form-group">
          <td><%= f.label :email %></td>
          <td><%= f.text_field :email, class: 'form-control' %></td>
        </tr>

        <tr class="form-group">
          <td><%= f.label :nuid, "NUID" %></td>
          <td><%= f.text_field :nuid, class: 'form-control numeric' %></td>
        </tr>

        <% if current_user&.site_admin? %>
        <tr class="form-group">
          <td><%= f.label :site_admin %></td>
          <td><%= f.check_box :site_admin %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="form-group">
      <%= f.submit nil, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
  <script>
    <%= render partial: 'form', formats: [:js] %>
  </script>
<% end %>
