<% link_to_students = current_user.site_admin? || current_user.professor_ever? %>
<% if role == "student" %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"
        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
      <span style="flex: 1;"><%= header %> (<%= users.count %>)</span>
      <%= link_to "Edit student registrations",
          bulk_edit_course_registrations_path(@course, {role: role}),
          class: "btn-sm btn btn-default" %>
      </a>
    </h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% all_emails = users.order(Arel.sql("LOWER(name)")).map {|u| "#{u.name} <#{u.email}>"} %>
        <th><%= mail_to "#{current_user.name} <#{current_user.email}>", "@",
                           bcc: all_emails.join(","), title: "Email everyone (bcc)" %></th>
        <th>Name</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% users.order(Arel.sql("LOWER(name)")).each do |user| %>
      <tr>
        <td width="1em"><%= mail_to "#{user.name} <#{user.email}>", "@" %></td>
        <td>
          <%= maybe_link_user(link_to_students, user) %>
        </td>
        <td><%= if link_to_students then
                  link_to 'Impersonate', impersonate_user_path(user), method: 'post'
                else
                  ""
                end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else
   staff = @course.registrations.to_a %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"
        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
      <span class="flex: 1;"><%= header %> (<%= users.count %>)</span>
      <% if role == "professor" %>
      <%= link_to "Edit staff registrations",
          bulk_edit_course_registrations_path(@course, {role: role}),
          class: "btn-sm btn btn-default" %>
      <% end %>
    </h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% all_emails = users.order(Arel.sql("LOWER(name)")).map {|u| "#{u.name} <#{u.email}>"} %>
        <th><%= mail_to all_emails.join(","), "@", title: "Email everyone" %></th>
        <th>Name</th>
        <th>Role</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% users.sort_by(&:name).each do |user| %>
      <tr>
        <td width="1em"><%= mail_to "#{user.name} <#{user.email}>", "@" %></td>
        <td><%= maybe_link_user(link_to_students, user) %></td>
        <td><%= staff.detect{|u| u.user_id == user.id}.role.humanize %></td>
        <td><%= if user.id != current_user.id
                  if link_to_students
                    link_to 'Impersonate', impersonate_user_path(user), method: 'post'
                  end
                else
                "(you)"
                end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>   
