<% @page_title = "Manage Registrations" %>

<div class="row">
  <div class="col-md-6">
    <h1>New Registration</h1>

    <div class="well">
      <%= form_for [@course, @registration] do |f| %>
        <% if @registration.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <p>
              <%= pluralize(@registration.errors.count, "error") %>
              prohibited this registration from being saved:
            </p>
            <ul>
              <% @registration.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :course_id %>
        <div class="form-group">
          <%= f.label :username, "Username" %>
          <%= f.text_field :username, class: "form-control"  %>
        </div>
        <div class="form-group">
          <%= f.label :role %><br />
          <%= f.select :role, Registration.roles.to_a.map { |w| [w[0].humanize, w[0]] } %>
        </div>
        <% grouped_sections = @course.sections_by_type %>
        <% @course.section_types.each do |t, _| %>
        <div class="form-group">
          <%= label_tag "new_sections[]", "#{t.humanize} section" %><br />
          <%= select_tag "new_sections[]",
              options_for_select([["<None>", ""]] + grouped_sections[t].map {|s| [s.to_s, s.crn] }) %>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <h1>Bulk Registrations</h1>

    <div class="well">
      <%= form_tag bulk_enter_course_registrations_path(@course) do |f| %>
        <%= hidden_field_tag :course_id, @course.id %>
        <div class="form-group">
          <%= label_tag :usernames, "Usernames" %>
          <%= text_area_tag :usernames, nil, class: "form-control", rows: 10 %>
          <p class="help-block">
            Enter student usernames in CSV format, followed by the CRN
            of their sections (lecture, lab, etc):
            <code style="white-space: pre-line; display: block;">jsmith123, 12345, 34567
              ...
            </code>
            <b class="text-danger">Make sure you include <i>all</i> sections for each
            student (lectures, labs, etc): any existing section
            registrations for students in this list will be deleted.</b>
          </p>
        </div>
        <div class="form-group">
          <%= submit_tag "Create Registrations", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
