<% @page_title = "Edit grader allocations for #{@assignment.name}" %>
<% sorted_staff = @course.sorted_staff %>
<% sorted_staff_by_id = sorted_staff.map{|s| [s.id, s]}.to_h %>
<h3>Edit grader allocations for <%= @grader.display_type %> for
  <%= link_to @assignment.name, course_assignment_path(@course,
      @assignment) %></h3>

<div class="well">
  <%= form_for([@course, @assignment.becomes(Assignment), @grader],
               :url => { action: :update, method: :patch }) do |f| %>
  <h3>Bulk grading allocations</h3>
  <p>
    Set the spinners below to the relative workload of each grader.
    By default, graders are given a weight of 1, and everyone else is
    given a weight of 0, meaning that all graders get equal work, and
    all professors and assistants do no grading.  But if some graders
    have a higher workload, set their values to 1.2 or 1.5 (indicating
    20% or 50% higher workload than the default).  Click the button
    below to apportion all unassigned submissions to all graders
    according to their weights.
  </p>
  <p>
    <b>If you want to assign some students to some specific graders,</b>
    do so <i>first</i> in the single-grader section below, then return to
    this section once grading has been assigned.
  </p>
  <% sorted_staff.group_by(&:role).each do |role, by_role| %>
  <div class="row">
    <h4 class="col-sm-12"><%= Registration::roles.invert[role].humanize.pluralize(3) %></h4>
  <% by_role.each do |staff| %>
  <span class="col-sm-4" style="vertical-align: middle;">
    <span style="margin-right: 1em;"><%= staff.name %></span>
    <span style="display: inline-block; vertical-align: inherit;">
      <%= spinner_tag "weight[#{staff.id}]",
          if staff.course_grader?(@course) then 1.0 else 0 end,
          min: 0, max: 2, delta: 0.1 %>
    </span>
  </span>
  <% end %>
  </div>
  <% end %>
  <p></p>
  <div class="row text-center">
    <%= f.submit "Assign graders", class: 'btn btn-primary' %>
  </div>
  <% end %>

  <h3 class="middle-separator">OR</h3>

  <h3>Assign single grader</h3>
  <p>
    Choose a submission from the left and a grader from the right,
    then click the middle button to create that grading allocation.
  </p>
  <%= form_for([@course, @assignment.becomes(Assignment), @grader],
               :url => { action: :patch, method: :patch }) do |f| %>

  <div class="row form-group" style="vertical-align: middle;">
    <div class="col-sm-4">
      <%= select_tag(:submission_id,
          names_for_submissions(@unfinished),
          size: 10,
          multiple: false, class: "form-control") %>
    </div>
    <div class="col-sm-4 text-center">
      <%= f.submit "Assign grader", class: 'btn btn-primary' %>
    </div>
    <div class="col-sm-4">
      <%= select_tag(:who_grades_id,
          names_for_graders(sorted_staff),
          size: 10,
          multiple: false, class: "form-control") %>
    </div>
  </div>
  <% end %>
</div>

<h3>Students with unassigned graders (<%= @unfinished.count %> remaining)</h3>
<div class="row">
  <% @who_grades[nil].each do |sub| %>
  <p class="col-md-3">
    <%= sub.submission_user_names %>
    <% if @grades[sub.id].score %>
    <br>(completed <span class="local-time"><%= @grades[sub.id].updated_at.iso8601 %></span>)
    <% end %>
  </p>
  <% end %>
</div>


<h3>
  Existing grading allocations
  <% if @allocations.any?{|_, allocs| allocs.any?{|_, a| a.grading_completed.nil?}} %>
  <span class="btn-group pull-right">
  <%= link_to "Delete all",
      delete_all_course_assignment_grader_allocations_path(@course, @assignment, {config: @grader}),
      class: "abandon btn btn-sm btn-warning",
      title: "Use this to remove all incomplete grading allocations for this assignment, without penalty",
      method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to "Abandon all",
      abandon_all_course_assignment_grader_allocations_path(@course, @assignment, {config: @grader}),
      class: "abandon btn btn-sm btn-danger",
      title: "Use this to remove all incomplete grading allocations for this assignment, and blame each one",
      method: :delete, data: { confirm: "Are you sure?" } %>
  </span>
  <% end %>
</h3>
<% sorted_staff_by_id = sorted_staff.map{|s| [s.id, s]}.to_h %>
<% sorted_staff.group_by(&:role).to_a.reverse.to_h.each do |role, by_role| %>
<div class="row"><h4 class="col-sm-12"><%= Registration::roles.invert[role].humanize.pluralize(3) %></h4></div>
<% grader_rows =
   @who_grades.slice(*by_role.map(&:id)).to_a.in_groups_of(3).map{|a| a.compact.to_h} %>
<% grader_rows.each do |row| %>
<div class="row">
  <% row.each do |g, subs| %>
  <% staff_grader = sorted_staff_by_id[g] %>
  <div class="col-md-4">
    <h4>
      <%= staff_grader.name %>
      <% if subs.any?{|s| @grades[s.id].score.nil? && !@allocations[g][s.id].abandoned?} %>
      <span class="btn-group pull-right">
      <%= link_to "Delete all",
          delete_all_course_assignment_grader_allocations_path(@course, @assignment, {config: @grader, staff: g}),
          class: "abandon btn btn-sm btn-warning",
          title: "Use this to remove all incomplete grading allocations from this grader, without penalty",
          method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to "Abandon all",
          abandon_all_course_assignment_grader_allocations_path(@course, @assignment, {config: @grader, staff: g}),
          class: "abandon btn btn-sm btn-danger",
          title: "Use this to remove all incomplete grading allocations from this grader, and blame them",
          method: :delete, data: { confirm: "Are you sure?" } %>
      </span>
      <% end %>
    </h4>
    <ul>
      <% subs.each do |sub| %>
      <% grade = @grades[sub.id] %>
      <% alloc = @allocations.dig(g, sub.id) %>
      <li>
        <%= link_to sub.submission_user_names,
            edit_course_assignment_submission_grade_path(@course, @assignment, sub, grade) %>
        <% if grade.score.nil? %>
        <% if alloc.abandoned? %>
        <span class="bg-warning text-danger"><br>abandoned</span></span>
        <% else %>
          <% days_assigned = (Time.now - alloc.grading_assigned) / 1.day.seconds
             if 3 >= days_assigned
             textclass = ""
             elsif 5 >= days_assigned
             textclass = "bg-warning"
             else
             textclass = "bg-danger"
             end
             %>
            <span class="<%= textclass %>">
              <br>assigned <span class="local-time"><%= alloc.grading_assigned.iso8601 %></span>
            </span>
            <br>
            <span class="btn-group">
            <%= link_to "Delete",
                delete_course_grader_allocation_path(@course, alloc, {config: @grader}),
                class: "abandon btn btn-sm btn-warning",
                title: "Use this to remove this allocation from this grader, without penalty",
                method: :patch, data: { confirm: "Are you sure?" } %>
            <%= link_to "Abandon",
                abandon_course_grader_allocation_path(@course, alloc, {config: @grader}),
                class: "abandon btn btn-sm btn-danger",
                title: "Use this to remove this allocation from this grader, and blame them",
                method: :patch, data: { confirm: "Are you sure?" } %>
            </span>
          <% end %>
        <% else %>
          <% if alloc.nil? %><span class="text-success">(volunteered)</span><% end %>
          <span class="text-muted"><br>completed <span class="local-time"><%= grade.updated_at.iso8601 %></span></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
<% end %>
<% end %>
<script>
  $(".spinner").each(function() { activateSpinner(this, {precision: 1}); });
</script>
