<% @page_title = "Pending grading for #{@assignment.name}" %>
<h3>Pending grading for
  <%= link_to @assignment.name,
      course_assignment_path(@course, @assignment) %></h3>

<h4 style="display: inline-block;">Submissions not assigned to graders</h4>
<div style="padding-bottom: 0.5em; display: inline-block;">
  <%= link_to edit_course_assignment_grader_allocations_path(@course, @assignment, @grader),
      class: "btn btn-default btn-md" do %>
  <i class="glyphicon glyphicon-list-alt"></i>
  Assign manual graders
  <% end %>
</div>
<ul>
  <% @who_grades[nil].each do |sub| %>
  <% grade = @grades[sub.id] %>
  <% usernames = sub.submission_user_names %>
  <li>
    <% if grade.score.nil? %>
    <%= link_to usernames,
        edit_course_assignment_submission_grade_path(@course, @assignment, sub, grade) %>
    <% else %>
    <%= link_to usernames,
        course_assignment_submission_grade_path(@course, @assignment, sub, grade) %>
      (completed <span class="local-time"><%= grade.updated_at.iso8601 %></span>)
    <% end %>
  </li>
  <% end %>
</ul>
<% sorted_staff = @course.sorted_staff %>
<% sorted_staff_by_id = sorted_staff.map{|s| [s.id, s]}.to_h %>
<% sorted_staff.group_by(&:role).to_a.reverse.to_h.each do |role, by_role| %>
<div class="row"><h4 class="col-sm-12"><%= Registration::roles.invert[role].humanize.pluralize(3) %></h4></div>
<% grader_rows =
   @who_grades.slice(*by_role.map(&:id)).to_a.in_groups_of(3).map{|a| a.compact.to_h} %>
<% grader_rows.each do |row| %>
<div class="row">
<% row.each do |g, subs| %>
<% grader = sorted_staff_by_id[g] %>  
<div class="col-md-4">
<h5><%= grader.name %></h5>
<ul>
  <% subs.each do |sub| %>
  <% usernames = sub.submission_user_names %>
  <% grade = @grades[sub.id] %>
  <% alloc = @allocations.dig(g, sub.id) %>
  <li>
    <%= link_to usernames,
        edit_course_assignment_submission_grade_path(@course, @assignment, sub, grade) %>
    <% if grade.score.nil? %>
      <% if alloc.abandoned? %>
      <span class="bg-warning text-danger"><br>abandoned</span></span>
      <% else %>
      <% days_assigned = (Time.now - alloc.grading_assigned) / 1.day.seconds 
         if 3 >= days_assigned
         textclass = ""
         elsif 5 >= days_assigned
         textclass = "bg-warning"
         else
         textclass = "bg-danger"
         end
         %>
      <span class="<%= textclass %>">
        <br>assigned <span class="local-time"><%= alloc.grading_assigned.iso8601 %></span>
      </span>
      <% end %>
    <% else %>
      <% if alloc.nil? %><span class="text-success">(volunteered)</span><% end %>
      <span class="text-muted"><br>completed <span class="local-time"><%= grade.updated_at.iso8601 %></span></span>
    <% end %>
  </li>
  <% end %>
</ul>
</div>
<% end %>
</div>
<% end %>
<% end %>
