<p class="form-inline">
  File: <select name="answers[<%= sub_id %>][<%= i + count %>][parts][<%= part_i %>][file]"
                class="pick-file <%= if @answers && part_ans&.dig('file').blank? then 'unanswered' end %>">
    <option disabled <% if part_ans&.dig('file').blank? %>selected<% end %> value style="display: none;"> -- select a file -- </option>
    <option value="<none>" <% if part_ans&.dig('file') == "<none>" %>selected<% end %>>&lt;none&gt;</option>
    <% sub_files.each do |file| %>
    <option value="<%= file[:link] %>" <% if part_ans&.dig('file') == file[:link] %>selected<% end %>>
      <%= file[:name] %>
    </option>
    <% end %>
  </select>
  Line number: <input type="text"
                      class="form-control numeric <%= if @answers && part_ans&.dig('info').blank? then 'unanswered' end %>"
                      name="answers[<%= sub_id %>][<%= i + count %>][parts][<%= part_i %>][line]"
                      <% if part_ans %>value="<%= part_ans['line'] %>"<% end %>>
</p>
