<div class="form-inline">
  <% if @answers and @answers[index]
     value = @answers[index]["main"].capitalize
     end %>
  <input type="hidden" name="answers[<%= index %>][main]" id="answer_<%= index %>" <% if value %>value="<%= value %>"<% end %>>
  <button type="button" class="answer btn btn-default <%= if value == 'Yes' then 'active' elsif @answers and value.to_s.empty? then 'unanswered' end %>"
          data-id="answer_<%= index %>">Yes</button>
  <button type="button" class="answer btn btn-default <%= if value == 'No' then 'active' elsif @answers and value.to_s.empty? then 'unanswered' end %>"
          data-id="answer_<%= index %>">No</button>
</div>

