<div class="form-inline">
  <% value = @answers&.dig(sub_id.to_s, index, "main")&.capitalize %>
  <input type="hidden" name="answers[<%= sub_id %>][<%= index %>][main]" id="answer_<%= sub_id %>_<%= index %>" <% if value %>value="<%= value %>"<% end %>>
  <button type="button" class="answer btn btn-default <%= if value ==
     'True' then 'active' elsif @answers and value.nil? then 'unanswered' end %>"
          data-id="answer_<%= sub_id %>_<%= index %>">True</button>
  <button type="button" class="answer btn btn-default <%= if value ==
     'False' then 'active' elsif @answers and value.nil? then 'unanswered' end %>"
          data-id="answer_<%= sub_id %>_<%= index %>">False</button>
</div>
