<div class="form-group">
  <% value = @answers&.dig(sub_id.to_s, index, "main")&.to_i
     detail = @answers&.dig(sub_id.to_s, index, "detail")
     %>
  <% q["options"].each_with_index do |opt, opt_idx| %>
  <div class="radio">
    <% if opt == "other" %>
    <label>
      <input name="answers[<%= sub_id %>][<%= index %>][main]" id="answer_<%= sub_id %>_<%= index %>_<%= opt_idx %>"
             type="radio" value="<%= opt_idx %>" <%= if value == opt_idx then 'checked' end %>
             class="other <% if @answers && value.to_s.empty? %>unanswered<% end %>">
      Other:
    </label>
    <input name="answers[<%= sub_id %>][<%= index %>][detail]" type="text" id="answer_<%= sub_id %>_<%= index %>_other"
           <% unless detail.to_s.empty? %>value="<%= detail %>"<% end %>
           style="display: inline-block; width: 90%;"
           class="form-control <% if @answers && detail.to_s.empty? %>unanswered<% end %>">
    <% else %>
    <label>
      <input name="answers[<%= sub_id %>][<%= index %>][main]" id="answer_<%= sub_id %>_<%= index %>_<%= opt_idx %>"
             type="radio" value="<%= opt_idx %>" <%= if value == opt_idx then 'checked' end %>
             <% if @answers && value.to_s.empty? %>class="unanswered"<% end %>>
      <%= sanitize_question(opt, allow_code: true) %>
    </label>
    <% end %>
  </div>
  <% end %>
  <script>
    $(function() {
      $("input[name^='answers[<%= sub_id %>][<%= index %>][main]']").on("focus", function() { 
        $("input#answer_<%= sub_id %>_<%= index %>_other").removeClass("unanswered")
                                            .prop("disabled", !$(this).hasClass("other"));
      });
      $("input#answer_<%= sub_id %>_<%= index %>_other").on("focus",
        function() { $(this).parent(".radio").find("input[type='radio']").prop('checked', true).change(); });
    });
  </script>
</div>
