<div class="form-group">
  <% if @answers and @answers[index]
     value = @answers[index]["main"]
     value = value.to_i if value
     detail = @answers[index]["detail"]
     end %>
  <% q["options"].each_with_index do |opt, opt_idx| %>
  <div class="radio">
    <% if opt == "other" %>
    <label>
      <input name="answers[<%= index %>][main]" id="answer_<%= index %>_<%= opt_idx %>"
             type="radio" value="<%= opt_idx %>" class="other" <%= if value == opt_idx then 'checked' end %>
             <% if @answers and value.to_s.empty? %>class="unanswered"<% end %>>
      Other:
    </label>
    <input name="answers[<%= index %>][detail]" type="text" id="answer_<%= index %>_other"
           <% unless detail.to_s.empty? %>value="<%= detail %>"<% end %>
           style="display: inline-block; width: 90%;"
           class="form-control <% if @answers and detail.to_s.empty? %>unanswered<% end %>">
    <% else %>
    <label>
      <input name="answers[<%= index %>][main]" id="answer_<%= index %>_<%= opt_idx %>"
             type="radio" value="<%= opt_idx %>" <%= if value == opt_idx then 'checked' end %>
             <% if @answers and value.to_s.empty? %>class="unanswered"<% end %>>
      <%= sanitize(opt, tags: %w(b strong i em code pre), attributes: %w(class data-lang)) %>
    </label>
    <% end %>
  </div>
  <% end %>
  <script>
    $(function() {
      $("input[name^='answers[<%= index %>][main]']").on("focus", function() { 
        $("input#answer_<%= index %>_other").removeClass("unanswered")
                                            .prop("disabled", !$(this).hasClass("other"));
      });
      $("input#answer_<%= index %>_other").on("focus",
        function() { $(this).parent(".radio").find("input[type='radio']").prop('checked', true).change(); });
    });
  </script>
</div>
