<% sub_files.each_with_index do |f, i| %>
<% index = (i + 1).to_s.rjust(sub_files.count.to_s.length, '0') %>
<div class="file-pane tab-pane panel-tab-pane <%= if i == 0; 'active' end %>" id="file_<%= index %>">
  <% if f[:type] == "image" %>
  <div class="nonCMwrapper" style="position: relative; display: inline-block;">
    <%= image_tag f[:link], id: "image_#{index}", alt: f[:name], style: "max-width: 100%; max-height: 100%;" %>
    <a href="<%= f[:link] %>" target="_blank"
       class="magnify-image btn btn-default" data-target="image_<%= index %>" data-container="file_<%= index %>"
       style="position: absolute; display: block; float: right; right: 0; top: 0; font-size: 300%;">
      <i class="glyphicon glyphicon-zoom-in"></i>
    </a>
  </div>
  <% elsif f[:type] == "zip" || f[:type] == "jar" %>
  <div class="nonCMwrapper"><%= link_to "Download #{f[:name]}", f[:link] %></div>
  <% else %>
  <% begin
       contents = render html: f[:contents] %>
  <div>
    <textarea class="sourceCode" data-lang="<%= f[:type] %>"
              data-source="<%= f[:link] %>"
              id="contents_<%= i %>"><%= contents %></textarea>
  </div>
  <% rescue Exception %>
  <div class="nonCMwrapper">
    <p>Could not render <%= f[:name] %></p>
    <p><%= link_to "Download #{f[:name]}", f[:link] %></p>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>
<!--
<div class="modal fade" id="displayMagnifiedImage" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="max-width: 100%; max-height: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="magnifiedImageBody">
      </div>
    </div>
  </div>
</div>
-->
