<style>
.embed-replaced { vertical-align: baseline; display: inline-block; }
.embed-image { }
.embed-comment { border: 1px solid black; margin: 2px; position: relative; padding-left: 1em; }
.embed-comment::before { content: "\003B"; font-size: 150%; top: -0.25em; left: 0; position: absolute; color: black; }
.embed-text { border: 1px solid black; margin: 2px; position: relative; padding-top: 1em;}
.embed-text::before { content: "\201C\201D"; font-size: 150%; top: 0; right: 0; position: absolute; color: black; }
.embed-racket { border: 1px solid purple; margin: 2px; position: relative; padding-top: 1em; }
.embed-racket::after { content: ","; font-size: 100%; top: 0; right: 0; position: absolute; color: purple; }
.embed-splice { border: 1px solid blue; margin: 2px; position: relative; padding-top: 1em; }
.embed-splice::after { content: ",@"; font-size: 100%; top: 0; right: 0; position: absolute; color: blue; }
.embed-xml { border: 1px solid green; margin: 2px; position: relative; padding-top: 1em; }
.embed-xml::after { content: "\2039\203A"; font-size: 150%; top: -0.25em; right: 0; position: absolute; color: green; }
</style>
<% sub_files.each_with_index do |f, i| %>
<% index = (i + 1).to_s.rjust(sub_files.count.to_s.length, '0') %>
<div class="file-pane tab-pane panel-tab-pane <%= if i == 0; 'active' end %>" id="file_<%= index %>_<%= root %>">
  <% if f[:type] == "image" %>
  <div class="nonCMwrapper" style="position: relative; display: inline-block;">
    <%= image_tag f[:link], id: "image_#{index}", alt: f[:name], style: "max-width: 100%; max-height: 100%;",
        skip_pipeline: true %>
    <a href="<%= f[:link] %>_<%= root %>" target="_blank"
       class="magnify-image btn btn-default" data-target="image_<%= index %>" data-container="file_<%= index %>"
       style="position: absolute; display: block; float: right; right: 0; top: 0; font-size: 300%;">
      <i class="glyphicon glyphicon-zoom-in"></i>
    </a>
  </div>
  <% elsif f[:type] == "zip" || f[:type] == "jar" %>
  <div class="nonCMwrapper"><%= link_to "Download #{f[:name]}", f[:link] %></div>
  <% elsif f[:type] == "symlink" %>
  <div class="nonCMwrapper">Symbolic link to
    <% if f[:broken] %>
    <%= f[:link_to] %>, which is an invalid link
    <% else %>
    <%= link_to f[:link_to], f[:link_href], class: "symlink-jump", data: {root: root} %>
    <% end %>
  </div>
  <% else %>
  <% begin
       contents = render html: f[:contents] %>
  <div>
    <textarea class="sourceCode" data-lang="<%= f[:type] %>"
              data-source="<%= f[:link] %>"
              id="contents_<%= i %>_<%= root %>"><%= contents %></textarea>
  </div>
  <% rescue Exception %>
  <div class="nonCMwrapper">
    <p>Could not render <%= f[:name] %></p>
    <p><%= link_to "Download #{f[:name]}", f[:link] %></p>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>
<script>
  <%= render 'submissions/render_embedded_images.js' %>
</script>
