<% count = 0 %>
<% @questions.each do |section| %>
  <% section.each do |name, qs| %>
    <h4><%= name %></h4>
    <ol start="<%= count + 1 %>">
      <% qs.each_with_index do |question, i| %>
        <% question.each do |type, q| %>
          <% index = count + i %>
          <li id="question_<%= index %>">
            <p>
              <%= sanitize(q["prompt"], tags: %w(b strong i em p textarea pre code)) %>
              <small>(<%= pluralize(q["weight"], "point") %>)</small>
            </p>
            <% if @show_grades %>
            <div class="panel panel-warning" %>
              <div class="panel-heading" data-toggle="collapse" data-target="#student_ans<%= index %>">Student answer:</div>
              <div class="panel-body collapse in" id="student_ans<%= index %>">
            <% end %>
              <%= render "submissions/show_answer_#{type.underscore}", q: q, index: index %>
              <p></p>
              <%= render "submissions/show_parts", q: q, i: i, count: count %>
            <% if @show_grades %>
              </div>
            </div>
            <% end %>
            <% if @show_grades %>
            <div class="panel panel-info">
              <div class="panel-heading"><i><b>Rubric:</b></i></div>
              <div class="panel-body">
                <% if !q["correctAnswer"].nil? %>
                <p style="font-style: italic;"><b>Correct answer:</b>
                    <%= sanitize(
                        case type
                        when "YesNo"
                          if q["correctAnswer"] then "Yes" else "No" end
                        when "TrueFalse"
                          q["correctAnswer"].to_s.capitalize
                        when "MultipleChoice"
                          q["options"][q["correctAnswer"].to_i]
                        else
                          q["correctAnswer"].to_s
                        end,
                        tags: %w(b strong i em code pre))
                        %></p>
                <% end %>
                <% if q["rubric"] %>
                <div class="form-group col-sm-4">
                  <input type="hidden" value="<%= index %>" name="grades[<%= index %>][index]">
                  <label>Score<br>(0 = no credit; 1 = full credit): </label>
                  <%= spinner_tag "", (@grades[index] ? @grades[index]["weight"].to_f : ""),
                      text: {name: "grades[#{index}][score]", id: "grades_#{index}_score"},
                      min: 0, max: 1, delta: 0.05  %>
                </div>
                <div class="form-group col-sm-8">
                  <label>Presets:</label>
                  <% q["rubric"].each_with_index do |entry, e_i| %>
                    <% entry.each do |val, hint| %>
                    <div class="radio">
                    <label>
                      <input name="grades[<%= index %>][score-preset]" id="grades_<%= index %>_<%= e_i %>"
                             type="radio" value="<%= val %>"><span><b><%= val %>:</b> <span><%= hint %></span></span>
                    </label>
                    </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="form-group col-sm-12">
                  <label>Comments:</label>
                  <textarea rows="5" class="form-control" name="grades[<%= index %>][comment]", id="grades_<%= index %>_comment"><%= if @grades[index] then @grades[index]["comment"] end %></textarea>
                </div>
                <% end %>
              </div>
            </div>
            <script>
              $("input[name^='grades[<%= index %>][score-preset]'").on("change", function() { 
                $("input#grades_<%= index %>_score").val($(this).val()).change(); 
                $("textarea#grades_<%= index %>_comment").val($(this).next("span").find("span").text()).change();
              });
              $("input#grades_<%= index %>_score").on("change",
                function() { 
                  var checked = $("input[name^='grades[<%= index %>][score-preset]']:checked");
                  if (checked.val() != $(this).val()) 
                    checked.prop('checked', false);
                });
            </script>
            <% end %>
            <% if @grades and @grades[index] %>
            <% grade = @grades[index] %>
            <p></p>
            <div class="panel panel-info">
              <div class="panel-heading">
                <%= to_fixed(grade.weight * 100) %>%
                <span class="pull-right">(Grader: <%= grade.name %>)</span>
              </div>
              <% unless grade.comment.to_s.empty? %>
              <div class="panel-body"><b>Comments:</b> <%= grade.comment %></div>
              <% end %>
            </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ol>
    <% count += qs.count %>
  <% end %>
<% end %>
<script>
  $(function() {
    enableReflectiveCalls(); 
    $('.spinner').each(function() { activateSpinner(this, {precision: 2}) });
  });
  var prevLine = {};
  function showFile(href, line) {
    selectTreeviewFileByHref(href);
    var cm = $(href).find(".CodeMirror")[0].CodeMirror;
    var newY = cm.charCoords({line: line - 10, ch: 1}, "local"); // minus 10, for visual context
    cm.scrollTo(null, newY.top);
    if (prevLine[href])
      cm.removeLineClass(prevLine[href] - 1, "background", "highlightLine");
    cm.addLineClass(line - 1, "background", "highlightLine");
    prevLine[href] = line;
  }
</script>
