<% if q["parts"] %>
  <div class="parts" data-qnum="<%= i + count %>">
  <% q["parts"].each_with_index do |part, part_i| %>
    <% part_ans = @answers
       part_ans = part_ans[i + count] if part_ans
       part_ans = part_ans["parts"] if part_ans
       part_ans = part_ans[part_i] if part_ans %>
    <% if part["codeTag"] %>
    <p><%= sanitize(part["codeTag"], tags: %w(b strong i em)) %></p>
    <% if part_ans['file'] == "<none>" %>
    <span class="btn btn-default btn-sm btn-disabled">&lt;none&gt;</span>
    <% else %>
    <% sub_file = @submission_files.find{|f| f[:link] == part_ans['file']} %>
    <% if sub_file %>
    <span class="btn btn-default btn-sm btn-disabled"
          data-on="click" data-call="showFile"
          data-args="<%= [sub_file[:href], part_ans['line'].to_i] %>">
      <%= sub_file[:name] %>, line <%= part_ans["line"] %>
    </span>
    <% else %>
    <span class="btn btn-default btn-sm
    btn-disabled"><%= part_ans['file'].gsub(Regexp.new(".*extracted/?"), "") %> (not found)</span>
    <% end %>
    <% end %>
    <% elsif part["text"] %>
    <p><%= sanitize(part["text"], tags: %w(b strong i em)) %></p>
    <textarea disabled class="form-control" rows="5"
              name="answers[<%= i + count %>][parts][<%= part_i %>][info]"><%= if part_ans then part_ans['info'] end %></textarea>
    <% elsif part["requiredText"] %>
    <p><%= sanitize(part["requiredText"], tags: %w(b strong i em)) %></p>
    <textarea disabled class="form-control <%= if @answers and (part_ans.nil? or part_ans['info'].to_s.empty?) then 'unanswered' end %>" rows="5"
              name="answers[<%= i + count %>][parts][<%= part_i %>][info]"><%= if part_ans then part_ans['info'] end %></textarea>
    <% end %>
  <% end %>
  </div>
<% end %>
