<% def maybe_link_user(which, user)
   tt = {
       toggle: "tooltip",
       delay: {show:0, hide: 250},
       title: "#{image_tag(Upload.upload_path_for(user.profile || 'silhouette.jpg'), 
                        alt: user.display_name, style: 'max-height: 300px; max-width: 300px;')}"
     }
   if which
     link_to(user.name, user_path(user), class: "user-link", data: tt)
   else
     content_tag :span, user.name, class: "user-link", data: tt
   end
   end %>
<% def maybe_link_team(which, team)
   content_tag(:span, [
     link_to("Team #{team.id}", course_team_path(@course, team)),
     " - ",
     team.users.sort_by(&:sort_name).map do |u|
        tt = {
          toggle: "tooltip",
          delay: {show:0, hide: 250},
          title: "#{image_tag(Upload.upload_path_for(u.profile || 'silhouette.jpg'), 
                           alt: u.display_name, style: 'max-height: 300px; max-width: 300px;')}"
        }
        if which || current_user.id == u.id then 
          link_to(u.name, user_path(u), class: "user-link", data: tt).html_safe
        else
          content_tag(:span, u.name, class: "user-link", data: tt).html_safe
        end
     end.join(", ")].flatten.join("\n").html_safe)
   end %>
<% cur_reg_staff = cur_reg && cur_reg.staff? %>

<p>
  <%= link_to "Back to Assignment: #{@assignment.name}", course_assignment_path(@course, @assignment) %>
</p>

<h1>Submission</h1>

<table class="table row-vcenter">
  <tr>
    <td><strong>Assignment</strong></td>
    <td><%= @submission.assignment.name %></td>
  </tr>
  <% if @submission.team.nil? %>
    <tr>
      <td><strong>Student</strong></td>
      <td><%= maybe_link_user cur_reg_staff, @submission.user %></td>
    </tr>
  <% else %>
    <tr>
      <td><strong>Team</strong></td>
      <td><%= maybe_link_team cur_reg_staff, @submission.team %>
        (submitted by <%= @submission.user.name %>)</td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Submission Time</strong></td>
    <td><span class="local-time"><%= @submission.created_at.iso8601 %></span></td>
  </tr>
  <tr>
    <td><strong>Submission Details</strong></td>
    <td><%= link_to "See individual #{kind}",
            details_course_assignment_submission_path(@course, @assignment, @submission),
            class: "btn btn-success" %>
      <% if show_download %>
      <%= link_to @submission.file_path, class: "btn btn-default" do %>
      <i class="glyphicon glyphicon-download-alt"></i> Download  <%= @submission.file_name %> 
      <% end %>
      <% end %>
    </td>
  </tr>
  <% if @submission.time_taken %>
    <tr>
      <td><strong>Time Taken</strong></td>
      <td><%= @submission.time_taken %> hours</td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Student Notes</strong></td>
    <td>
      <div class="prose"><%= @submission.student_notes %></div>
    </td>
  </tr>
</table>
<script>
  $('a[data-toggle="tooltip"], span[data-toggle="tooltip"]').tooltip({
    animated: 'fade',
    placement: 'right',
    html: true
  });
</script>
