<% if q["parts"] %>
  <div class="parts" data-qnum="<%= i + count %>">
  <% q["parts"].each_with_index do |part, part_i| %>
    <% part_ans = @answers&.dig(sub_id.to_s, i + count, "parts", part_i) %>
    <% if part["codeTag"] %>
    <p><%= sanitize_question(part["codeTag"]) %></p>
    <% if part_ans['file'] == "<none>" %>
    <span class="btn btn-default btn-sm btn-disabled">&lt;none&gt;</span>
    <% else %>
    <% sub_file = @submission_files.find{|f| f[:link] == part_ans['file']} %>
    <% if sub_file %>
    <span class="btn btn-default btn-sm btn-disabled"
          data-show-file="<%= ["#{sub_file[:href]}_#{root}", part_ans['line'].to_i] %>">
      <%= sub_file[:name] %>, line <%= part_ans["line"] %>
    </span>
    <% else %>
    <span class="btn btn-default btn-sm btn-disabled"><%= part_ans['file'].gsub(Regexp.new(".*extracted/?"), "") %> (not found)</span>
    <% end %>
    <% end %>
    <% elsif part["text"] %>
    <p><%= sanitize_question(part["text"]) %></p>
    <textarea disabled class="form-control" rows="5"
              name="answers[<%= sub_id %>][<%= i %>][parts][<%= part_i %>][info]"><%= part_ans&.dig('info') %></textarea>
    <% elsif part["requiredText"] %>
    <p><%= sanitize_question(part["requiredText"]) %></p>
    <textarea disabled class="form-control <%= if @answers && part_ans&.dig('info').blank? then 'unanswered' end %>" rows="5"
              name="answers[<%= sub_id %>][<%= i %>][parts][<%= part_i %>][info]"><%= part_ans&.dig('info') %></textarea>
    <% end %>
  <% end %>
  </div>
<% end %>
