<% cur_reg = current_user.registration_for(@course) %>
<% cur_reg_staff = cur_reg&.staff? %>
<% show_all_users = current_user.site_admin? || current_user.professor_ever? %>
<style>
  #subinfo .tooltip.in { opacity: 1; filter: alpha(opacity=100); }
  .submitter { font-weight: bold; }
</style>
<table id="subinfo" class="table row-vcenter">
  <tr>
    <td><strong>Assignment</strong></td>
    <td><%= @submission.assignment.name %></td>
  </tr>
  <% if @submission.team.nil? %>
    <tr>
      <td><strong>Student</strong></td>
      <td><%= maybe_link_user cur_reg_staff, @submission.user %></td>
    </tr>
  <% else %>
    <tr>
      <td><strong>Team</strong></td>
      <td><%= maybe_link_team cur_reg_staff, show_all_users || [current_user.id], @submission.team,
                              [[@submission.user_id, "submitter"]].to_h %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Submission Time</strong></td>
    <td><span class="local-time"><%= @submission.created_at.iso8601 %></span></td>
  </tr>
  <tr>
    <td><strong>Student Notes</strong></td>
    <td>
      <div class="prose" style="white-space: pre;"><%= @submission.student_notes %></div>
    </td>
  </tr>
</table>
