<% @page_title = "View Submission Details" %>
<% cur_reg = current_user.registration_for(@course) %>
<% content_for :wide_content_before do %>
<% if @commentType %>
<style>
  div.CodeMirror-linewidget > div { display: none; }
  div.CodeMirror-linewidget > div.<%= @commentType %> { display: block; }
</style>
<% end %>
<p>
  <%= link_to "< Back to submission", course_assignment_submission_path(@course, @assignment, @submission) %>
</p>

<h1>Submission</h1>

<%= render 'submissions/sub_info' %>
<h3>
  <% if @grader %>
  <%= link_to details_course_assignment_submission_grader_path(@course, @assignment, @submission, @grader),
      class: "btn btn-default" do %>
  <i class="glyphicon glyphicon-download-alt"></i> Download comments
  <% end %>
<% else %>
  <%= link_to details_course_assignment_submission_path(@course, @assignment, @submission, :format => :text),
      class: "btn btn-default" do %>
  <i class="glyphicon glyphicon-download-alt"></i> Download all comments
  <% end %>  
<% end %>
</h3>
  

<% end %>

<% content_for :wide_content do %>
<div class="col-sm-3">
  <div id="files-sidebar" data-spy="affix">
    <div id="files" class="nav treeview condensed"></div>
  </div>
</div>
<div class="col-sm-9 tab-content">
  <%= render "submissions/files", sub_files: @submission_files %>
</div>

<script>
  <%= render 'submissions/render_embedded_images.js' %>
  var lineComments = <%= raw json_escape(JSON.pretty_generate(@submission_files.map{|s| s[:lineComments]})) %>;
  <%= render 'submissions/render_comments.js' %>
  $(function() { renderComments(lineComments); });
</script>
<% end %>
