<% @page_title = "View Response" %>
<% cur_reg = current_user.registration_for(@course) %>

<p>
  <%= link_to "Back to submission",
      course_assignment_submission_path(@course, @assignment, @submission) %>
</p>

<h1>Response</h1>

<%= render 'submissions/sub_info' %>

<% unless @answers_are_newer %>
<h3>These responses are for an outdated submission!</h3>
<% end %>

<div id="sub_<%= @submission.id %>" class="container" style="padding: 0px;">
  <% if @assignment.related_assignment_id %>
  <% debugger %>
  <% end %>
  <div id="responses" class="form-group">
  <%= render "render_questions", start: 0, root: "sub_#{@submission.id}", sub_id: @submission.id %>  
  <script>
    <%= render "render_questions.js" %>
    $(function() { activateQuestions("sub_<%= @submission.id %>"); });
    $("textarea.sourceCode").each(function(index, code) {
      if ($(code).data("lang")) {
        var cm = CodeMirror.fromTextArea(code, {
          readOnly: true, indentUnit: 2,
          mode: $(code).data("lang"),
          theme: 'mdn-like', viewportMargin: Infinity,
          lineNumbers: true, lineWrapping: false,
          styleActiveLine: true
        });
      }
      $(code).addClass("cm-s-mdn-like cm-s-default");
    });
  </script>
  </div>
</div>
