<% @page_title = "New Response: #{@assignment.name}" %>
<% content_for :wide_content_before do %>
<%= render "layouts/standard_course_info" %>
<% if @submission.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <h2><%= pluralize(@submission.errors.count, "error") %> prohibited
  this response from being saved:</h2>

  <ul>
    <% @submission.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% end %>
<% content_for :wide_content do %>
<% sub_id = "newsub" %>

<%= form_for [@course, @assignment.becomes(Assignment), @submission.becomes(Submission)] do |f| %>
  <% f.object = @submission.becomes(@submission.class) %>
  <%= f.hidden_field :type, value: "QuestionsSub" %>
  <%= render "new_common", f: f, type: {noun: "response", verb: "respond", gerund: "responding" },
      container_style: "container" do %>

<% if !@submission_prohibited || @staff_override %>
<script>
  $(function() {
  $("textarea.sourceCode").each(function(index, code) {
    if ($(code).data("lang")) {
      var cm = CodeMirror.fromTextArea(code, {
        readOnly: true, indentUnit: 2,
        mode: $(code).data("lang"),
        theme: 'mdn-like', viewportMargin: Infinity,
        lineNumbers: true, lineWrapping: false,
        styleActiveLine: true
      });
    }
    $(code).addClass("cm-s-mdn-like cm-s-default");
  });
  });
</script>
<div class="responses form-group container">
  <% count = 0 %>
  <% @questions.each do |section| %>
    <% section.each do |name, qs| %>
      <h4><%= name %></h4>
      <ol start="<%= count + 1 %>">
        <% qs.each_with_index do |question, i| %>
          <% question.each do |type, q| %>
            <li>
              <p>
                <%= sanitize_question(q["prompt"], allow_code: true) %>
                <small>(<%= pluralize(q["weight"], "point") %>)</small>
              </p>
              <%= render "enter_answer_#{type.underscore}", q: q, index: i + count, sub_id: sub_id %>
              <p></p>
              <% if q["parts"] %>
                <div class="parts" data-qnum="<%= i + count %>">
                <% q["parts"].each_with_index do |part, part_i| %>
                  <% part_ans = @answers&.dig(sub_id, i + count, "parts", part_i) %>
                  <% if part["codeTag"] %>
                  <p><%= sanitize_question(part["codeTag"], allow_code: true) %></p>
                  <%= render partial: "code_tag",
                      locals: {i: i, sub_id: sub_id, count: count, part_ans: part_ans, part_i: part_i, sub_files: @submission_files} %>
                  <% elsif part["text"] %>
                  <p><%= sanitize_question(part["text"], allow_code: true) %></p>
                  <textarea class="form-control optional" rows="5"
                            name="answers[<%= sub_id %>][<%= i + count %>][parts][<%= part_i %>][info]"><%= part_ans&.dig("info") %></textarea>
                  <% elsif part["requiredText"] %>
                  <p><%= sanitize_question(part["requiredText"], allow_code: true) %></p>
                  <textarea class="form-control <%= if @answers && part_ans&.dig('info').blank? then 'unanswered' end %>" rows="5"
                            name="answers[<%= sub_id %>][<%= i + count %>][parts][<%= part_i %>][info]"><%= part_ans&.dig("info") %></textarea>
                  <% end %>
                <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
      <% count += qs.count %>
    <% end %>
  <% end %>

  <%= f.label :student_notes %>
  <%= f.text_area :student_notes, class: 'form-control' %>
  <div id="late-warning">
    <h3 class="hidden" style="margin-top: initial;">Warning!</h3>
    <p class="hidden">It is now past the due date and time for this
      assignment, and your submission will be considered late.  Are you
      sure you want to submit?</p>
    <p><%= f.submit "Submit response", class: "btn btn-primary" %></p>
  </div>
</div>

<div class="container">
</div>
<script>
  <%= render partial: "new_questions.js", locals: {count: count} %>
  var deadline = moment(Date.parse("<%= @assignment.effective_due_date(current_user, @team).strftime("%Y/%m/%d %H:%M") %>")).valueOf();
  var now = moment().valueOf();
  setTimeout(function() {
    var warning = $("#late-warning");
    warning.addClass("alert alert-danger");
    warning.find("p").removeClass("hidden");
    warning.find("h3").removeClass("hidden");
  }, Math.max(deadline - now, 0));
  $("form").submit(function(e) {
    var num = ensureValidNumericInputOnSubmit(e, "input.numeric:not([disabled])");
    if (num) {
      makeDatesIso8601($(".datetime-picker"));
    }
    return num;
  });
</script>
<% end %>
<% end %>
<% end %>
<% end %>
