<% @page_title = "New Response: #{@assignment.name}" %>
<% content_for :wide_content do %>

<%= form_for [@course, @assignment.becomes(Assignment), @submission] do |f| %>
  <% allowed = @assignment.sub_allow_submission?(@submission)
     not_following = @assignment.sub_not_following_related?(current_user)
     rate_limit = @assignment.rate_limit?(@submission)
     staff_override = true_user.course_staff?(@course)
     %>
<div class="container">
  <%= render "new_common", f: f, type: {noun: "response", verb: "respond", gerund: "responding" },
      not_following: not_following, allowed: allowed, rate_limit: rate_limit, staff_override: staff_override %>
</div>

<% if (allowed && not_following && !rate_limit) || staff_override %>
<% if @assignment.related_assignment_id %>
<div class="col-sm-6">
  <div id="files-sidebar" data-spy="affix">
    <div id="files-treeview">
      <div id="files" class="nav treeview condensed"></div>
    </div>
    <div class="tab-content">
      <%= render "files", sub_files: @submission_files %>
    </div>
  </div>
  <script>
    <%= render partial: "render_comments.js", locals: {vertical: true} %>
  </script>
</div>
<% end %>

<% if @assignment.related_assignment_id.nil? %>
<script>
  $(function() {
  $("textarea.sourceCode").each(function(index, code) {
    if ($(code).data("lang")) {
      var cm = CodeMirror.fromTextArea(code, {
        readOnly: true, indentUnit: 2,
        mode: $(code).data("lang"),
        theme: 'mdn-like', viewportMargin: Infinity,
        lineNumbers: true, lineWrapping: false,
        styleActiveLine: true
      });
    }
    $(code).addClass("cm-s-mdn-like cm-s-default");
  });
  });
</script>
<div id="responses" class="form-group container">
<% else %>
<div id="responses" class="form-group col-sm-6">
<% end %>  
  <% count = 0 %>
  <% @questions.each do |section| %>
    <% section.each do |name, qs| %>
      <h4><%= name %></h4>
      <ol start="<%= count + 1 %>">
        <% qs.each_with_index do |question, i| %>
          <% question.each do |type, q| %>
            <li>
              <p>
                <%= sanitize(q["prompt"],
                    tags: %w(b strong i em p code pre textarea)
                    attributes: %w(class data-lang)) %>
                <small>(<%= pluralize(q["weight"], "point") %>)</small>
              </p>
              <%= render "enter_answer_#{type.underscore}", q: q, index: i + count %>
              <p></p>
              <% if q["parts"] %>
                <div class="parts" data-qnum="<%= i + count %>">
                <% q["parts"].each_with_index do |part, part_i| %>
                  <% part_ans = @answers
                     part_ans = part_ans[i + count] if part_ans
                     part_ans = part_ans["parts"] if part_ans
                     part_ans = part_ans[part_i] if part_ans %>
                  <% if part["codeTag"] %>
                  <p><%= sanitize(part["codeTag"], 
                         tags: %w(b strong i em code pre),
                         attributes: %w(class data-lang)) %></p>
                  <%= render partial: "code_tag", locals: {i: i, count: count, part_ans: part_ans, part_i: part_i} %>
                  <% elsif part["text"] %>
                  <p><%= sanitize(part["text"], 
                         tags: %w(b strong i em code pre),
                         attributes: %w(class data-lang)) %></p>
                  <textarea class="form-control" rows="5"
                            name="answers[<%= i + count %>][parts][<%= part_i %>][info]"><%= if part_ans then part_ans['info'] end %></textarea>
                  <% elsif part["requiredText"] %>
                  <p><%= sanitize(part["requiredText"], 
                         tags: %w(b strong i em code pre),
                         attributes: %w(class data-lang)) %></p>
                  <textarea class="form-control <%= if @answers and (part_ans.nil? or part_ans['info'].to_s.empty?) then 'unanswered' end %>" rows="5"
                            name="answers[<%= i + count %>][parts][<%= part_i %>][info]"><%= if part_ans then part_ans['info'] end %></textarea>
                  <% end %>
                <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
      <% count += qs.count %>
    <% end %>
  <% end %>

  <%= f.label :student_notes %>
  <%= f.text_area :student_notes, class: 'form-control' %>
  <div id="late-warning">
    <h3 class="hidden" style="margin-top: initial;">Warning!</h3>
    <p class="hidden">It is now past the due date and time for this
      assignment, and your submission will be considered late.  Are you
      sure you want to submit?</p>
    <p><%= f.submit "Submit response", class: "btn btn-primary" %></p>
  </div>
</div>

<div class="container">
</div>
<script>
  <%= render partial: "new_questions.js", locals: {count: (count - 1)} %>
  var deadline = moment(Date.parse("<%= @assignment.due_date.strftime("%Y/%m/%d %H:%M") %>")).valueOf();
  var now = moment().valueOf();
  setTimeout(function() {
    var warning = $("#late-warning");
    warning.addClass("alert alert-danger");
    warning.find("p").removeClass("hidden");
    warning.find("h3").removeClass("hidden");
  }, Math.max(deadline - now, 0));
  $("form").submit(function(e) {
    return ensureValidNumericInputOnSubmit(e, "input.numeric:not([disabled])");
  });
</script>
<% end %>
<% end %>
<% end %>
