<% @page_title = "Welcome to Bottlenose" %>

<h1>Welcome to Bottlenose</h1>

<p>
    Bottlenose is a web-based assignment submission and grade tracking tool for
    Computer Science courses.
</p>
<p></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <h5 class="col-sm-4">
      <label class="field col-sm-12">Login with your Khoury College username and password</label>
    </h5>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="text-left col-sm-4 center-block">
      <div class="field col-sm-12">
        <%= f.label :username %><br />
        <%= f.text_field :username, class: "form-control", autofocus: true %>
      </div>
      
      <div class="field col-sm-12">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>

      <% if false # TODO: devise_mapping.rememberable? -%>
      <div class="field col-sm-12">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
      <p>&nbsp;</p>

      <div class="field col-sm-12">
        <%= f.submit "Log in", class: "btn btn-primary btn-block form-control" %>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
<% end %>
