<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :term_id, "Term" %>
      <%= select("course", "term_id", (
        Term.where(archived: false).to_a.map do |tt|
          [tt.name, tt.id]
        end
      ), class: 'form-control') %>
    </div>
    <div class="form-group">
      <%= f.label "Sections" %>
      <table id="sections" class="table">
        <tr class='row'>
          <th class="col-sm-2">CRN</th>
          <th class="col-sm-4">Instructor CCS Username</th>
          <th class="col-sm-4">Meeting time</th>
          <th class="col-sm-1">Type</th>
          <th class="col-sm-1">Delete</th>
          <th></th>
        </tr>
        <%= f.fields_for :sections do |s| %>
          <%= render "courses/section", f: s %>
        <% end %>
      </table>

      <%= link_to_add_association("Add Section", f, :sections, partial: 'section',
                                  "data-association-insertion-node" => '#sections',
                                  "data-association-insertion-method" => 'append',
                                  class: 'btn btn-default' ) %>
    </div>
    <div class="form-group">
      <p><strong>Late Penalty</strong></p>
      <%= render 'lateness/picker', within_course: false, f: f %>
    </div>
    <div>
      <%= f.label :footer, "Course-Wide Footer" %> (HTML Allowed)
      <%= f.text_area :footer, size: '40x10', class: 'form-control' %>
      <br>
    </div>
    <div class="form-group">
      <%= f.label :sub_max_size, "Max Submission Size (MB)" %>
      <%= f.text_field :sub_max_size, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :public, "Public Access to Assignments?" %>
      <%= f.check_box :public %>

      <p>Checking the "public access" box will allow access to the course
      assignments without logging in to Bottlenose. This can be useful as a
      reference to other instructors teaching similar courses, for people
      self-studying the material, and for general reference.</p>

    </div>
    <div class="form-group">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
