<% @page_title = @course.name %>
<% @sections = @course.sections %>

<style>
  <% @sections.each do |s| %>
  #students.show_one .sec_<%= s.crn %> { display: none; }
  #students.show_one.sec_<%= s.crn %> .sec_<%= s.crn %> { display: initial; }
  #emails.show_one .sec_<%= s.crn %> { display: none; }
  #emails.show_one.sec_<%= s.crn %> .sec_<%= s.crn %> { display: inline-block; }
  #emails.show_all .sec_<%= s.crn %> { display: none; }
  <% end %>
  #emails.show_one .show_all { display: none; }
</style>

<h1>Facebook View</h1>
<h4>Select a section: <select id="sections">
    <option value="show_all">Show all sections</option>
    <% @sections.each do |s| %>
    <option value="show_one sec_<%= s.crn %>">Section <%= s.to_s %></option>
    <% end %>
  </select>
  <span id="emails" class="pull-right show_all">
    <% all_emails = @students.reject{|u| u.dropped_date}.map{|u| "#{u.name} <#{u.email}>" } %>
    <span class="btn btn-default btn-large show_all">
      <%= mail_to "#{current_user.name} <#{current_user.email}>",
                  "Email all sections",
                  bcc: all_emails.join(","), title: "Email everyone currently enrolled (bcc)" %>
    </span>
    <% @sections.each do |s|
       next unless @students_by_section[s.crn]&.length.to_i != 0
       all_emails = @students_by_section[s.crn].reject{|u| u.dropped_date}.map {|u| "#{u.name} <#{u.email}>" } %>
    <span class="btn btn-default btn-large sec_<%= s.crn %>">
      <%= mail_to "#{current_user.name} <#{current_user.email}>",
                  "Email section #{s.crn}",
                  bcc: all_emails.join(","), title: "Email everyone currently enrolled in this section (bcc)" %>
    </span>
    <% end %>
  </span>
</h4>
<br/>
  

<div id="students" class="row">
  <% @students.each_slice(6) do |row| %>
  <div class="row">
    <% row.each do |s| %>
    <div class="col-md-2 text-center <%= @sections_by_student[s.reg_id].map{|sec| "sec_#{@section_crns[sec.section_id]}"}.join(" ") %>">
      <%= image_tag Upload.upload_path_for(s.profile || "silhouette.jpg"), 
          alt: s.display_name, style: "max-height: 200px; max-width: 100%;" %>
      <p><%= link_to s.display_name, user_path(s) %></p>
      <% if s.dropped_date %><p>(withdrawn <%= s.dropped_date %>)</p><% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<script>
  $(function() {
    var prevSection = "show_all";
    $("#sections").change(function(e) {
      $("#students").removeClass(prevSection).addClass($(this).val());
      $("#emails").removeClass(prevSection).addClass($(this).val());
      prevSection = $(this).val();
    });
  });
</script>
