<% cur_reg = current_user.registration_for(@course)  %>
<% show_all = current_user.site_admin? || cur_reg&.professor? %>
<% show_grading = current_user.site_admin? || cur_reg&.staff? %>
<% @page_title = @course.name %>
<style>
  h4 i.glyphicon { font-size: 80%; margin-left: 0.5em; }
  h4 i.glyphicon-chevron-up { display: none; }
  h4 i.glyphicon-chevron-down { display: initial; }
  h4.collapsed i.glyphicon-chevron-up { display: initial; }
  h4.collapsed i.glyphicon-chevron-down { display: none; }
  .team-heading { margin: 10px 15px; font-size: 16px; }
</style>

<div class="row">
  <div class="col-md-6">
    <%= render "assignments/table", assignments: @course.assignments,
        for_user: current_user, show_all: show_all %>
    <%= render "lateness_summary", assignments: @course.assignments,
        for_user: current_user, show_all: show_all %>
    <% if show_all %>
    <%= render "abnormal_summary", abnormals: @abnormals %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current Teams</h3>
      </div>
      <%= render "teamsets/all",
          admin: current_user.course_staff?(@course),
          course: @course, tag: "h4", editable: false
          %>
    </div>
    <% unless @allocated_grading.empty? && @completed_grading.empty? %>
    <%= render "grader_allocations/grading_due", course: @course %>
    <% end %>
    <% if show_grading %>
    <%= render "grading_due", assignments: @course.assignments,
        show_all: show_all %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= link_to "Withdraw from this course", withdraw_course_path(@course),
      method: :delete,
      class: "pull-right btn btn-danger",
      data: {confirm: "Are you absolutely sure you want to withdraw from this course?"} %>
</div>
