<% cur_reg = current_user.registration_for(@course)  %>
<% show_all = current_user.site_admin? || (cur_reg && cur_reg.professor?) %>
<% show_grading = current_user.site_admin? || (cur_reg && cur_reg.staff?) %>
<% @page_title = @course.name %>

<div class="row">
  <div class="col-md-6">
    <%= render "assignments/table", assignments: @course.assignments,
        for_user: current_user, show_all: show_all %>
    <%= render "lateness_summary", assignments: @course.assignments,
        for_user: current_user, show_all: show_all %>
    <% if show_all %>
    <%= render "abnormal_summary", abnormals: @abnormals %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current Team</h3>
      </div>
      <% active_team = current_user.active_team_for(@course) %>
      <% if active_team %>
      <%= link_to course_team_path(@course, active_team) do %>
      <div class="panel-body"><span><%= active_team %></span></div>
      <% end %>
      <% else %>
      <div class="panel-body">No active team.</div>
      <% end %>
    </div>
    <% unless @allocated_grading.empty? and @completed_grading.empty? %>
    <%= render "grader_allocations/grading_due", course: @course %>
    <% end %>
    <% if show_grading %>
    <%= render "grading_due", assignments: @course.assignments,
        show_all: show_all %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= link_to "Withdraw from this course", withdraw_course_path(@course),
      method: :delete,
      class: "pull-right btn btn-danger",
      data: {confirm: "Are you absolutely sure you want to withdraw from this course?"} %>
</div>
