<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sandbox.name %>
</p>

<p>
  <strong>Submission:</strong>
  <%= @sandbox.submission_id %>
</p>

<%= link_to 'Edit', edit_sandbox_path(@sandbox) %> |
<%= link_to 'Back', sandboxes_path %>
