<% no_active = true %>
<% course.assignments.order(due_date: :desc, available: :desc).each do |a| %>
<% next unless a.team_subs? %>
<% expired = !a.due_date&.future? %>
<% teams = (@teams && @teams[course.id] && @teams[course.id][a.teamset_id]) ||
   [] %>
<% next unless (!expired) || (@teams[course.id] && teams.length != 0) %>
<% no_active = false %>
<<%= tag %>
     class="team-heading <% if expired %>collapsed<% end %>"
     data-toggle="collapse" data-target="#assn_<%= a.id %>">
    Teams for <%= a.name %>
    <% if admin && editable %>
    <%= link_to "Edit Teams", edit_course_teamset_path(course, a.teamset),
        class: "pull-right btn btn-success" %>
    <% end %>
    <i class="glyphicon glyphicon-chevron-down"></i>
    <i class="glyphicon glyphicon-chevron-up"></i>
    <% if editable %>
    <%= link_to "Request teammates",
        course_teamset_team_requests_path(course, a.teamset), class:
        "pull-right btn btn-info" %>
    <% end %>
</<%= tag %>>
<div id="assn_<%= a.id %>" class="collapse <% if !expired %>in<% end %>">
  <% if admin && @team_info %>
  <div class="col-md-12 text-center">
    <h4>
      Filter teams by section: <select class="sections" data-target="table#assn_<%= a.id %>_<%= a.teamset_id %>">
        <option value="show_all">Show all sections</option>
        <% course.sections.each do |s| %>
        <option value="show_one show_<%= s.type %> sec_<%= s.crn %>">Section <%= s.to_s %></option>
        <% end %>
      </select>
      <div id="toggle-staff" class="btn btn-default">Show staff teams</div>
      <script>
        $("#toggle-staff").on("click", function(e) {
          $("#assn_<%= a.id %>_<%= a.teamset_id %>").toggleClass("hide_staff");
          if ($("#assn_<%= a.id %>_<%= a.teamset_id %>").hasClass("hide_staff")) {
            $(this).text("Show staff teams");
          } else {
            $(this).text("Hide staff teams");
          }
          e.stopPropagation();
          e.preventDefault();
        });
      </script>
    </h4>
  </div>
  <% end %>
<%= render "teamsets/table", teams: teams, id: "assn_#{a.id}_#{a.teamset_id}", admin: admin %>
</div>
<script>
  $("div#assn_<%= a.id %> select.sections").each(function() {
    $(this).data("prevSection", "show_all");
  });
  $("div#assn_<%= a.id %> select.sections").change(function(e) {
    var thisSelect = $(this);
    $(thisSelect.data("target")).removeClass(thisSelect.data("prevSection")).addClass(thisSelect.val());
    thisSelect.data("prevSection", thisSelect.val());
  });
</script>
<% end %>
<% if no_active %>
<<%= tag %> class="team-heading">No active teams</<%= tag %>>
<% end %>
<script>
  $(".team-heading a.btn").on("click", function(e) { e.stopPropagation(); });
</script>
