<% cur_reg = current_user.registration_for(@course) %>
<% cur_reg_staff = cur_reg&.staff? %>
<% show_all_users = current_user.site_admin? || current_user.professor_ever? %>
<table class="table teamset-table hide_staff" id="<%= id %>">
  <thead>
    <tr>
      <th style="width: 2.1em;"></th>
      <th style="width: 2.1em;"></th>
      <th>Members</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% teams.each do |team| %>
      <% sections, hazards, row_warnings = @team_info&.dig(team.id)
         sec_classes = (sections || []).map{|crn, _| "sec_#{crn}"}
         classes = [sec_classes, row_warnings].flatten.uniq.compact.join(" ") %>
      <tr class="<%= classes %>">
        <td>
          <% hazards&.each do |hazard, warning| %>
          <span class="glyphicon glyphicon-alert <%= hazard %>" title="<%= warning %>"></span>
          <% end %>
        </td>
        <td>
          <% if team.active? %>
          <span class="glyphicon glyphicon-chevron-right" title="Active team"></span>
          <% end %>
        </td>
        <td><%= maybe_link_team(cur_reg_staff, show_all_users || [current_user.id], team) %></td>
        <td><%= team.start_date %></td>
        <td><%= team.end_date || "âˆ" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
