<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <!-- Set the page's title. -->
    <% default_page_title = "#{params[:controller].humanize} / #{params[:action].humanize}" %>
    <title><%= @page_title || default_page_title %> - Bottlenose Course Manager</title>

    <!-- Set the page's favicon. -->
    <%= favicon_link_tag 'site-icon.png', :type => 'image/png' %>
    <%= favicon_link_tag 'site-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>

    <!-- Include the page's javascripts and stylesheets. -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_pack_tag "application" %>
</head>

<body <% unless @bgcolor.blank? %>style="background-color: <%= @bgcolor %>;"<% end %>>
  <%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>
